<div class="modus-content-columns">
    <div class="modus-content" >
       <div class="col-12 flex-align-items">

            <div class="card product-details-image-card">
                <div class="flex-end"></div>
                <div class="flex-center mt-4 mb-4">
                    <div class="product-details-image-container">
                        <img *ngIf="cardImage;else noImageAvailable" [src]="cardImage" [ngClass]="productImageClass" (load)="onImageLoad()" >
                        <ng-template #noImageAvailable >
                            <img [src]="imageNotAvailable" [ngClass]="productImageClass" (load)="onImageLoad()" >
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="card product-details-container w-100">
                <div class="card-body">
                    <div class="flex-end">
                        <sx-button-flat 
                            class="nav-action-button" 
                            color="light" 
                            icon="edit" (click)="editUser()">EDIT
                        </sx-button-flat>
                    </div>
                    <div class="subtitle">USER PROFILE</div>
                    <hr>
                    <div *ngIf="user" class="key-value-container product-details-ie-blocks">
                        <sx-key-value-block size="large"
                            key="Name"
                            [value]="user.user_name"
                            infoMessage="User Name of the user">
                        </sx-key-value-block>
                        <sx-key-value-block
                            key="Email" size="large"
                            [value]="user.e_mail"
                            infoMessage="User's permanent and unique e-mail to identify the user">
                        </sx-key-value-block>
                        <sx-key-value-block
                            key="Role"
                            value="{{user.user_role | userrole}}"
                            infoMessage="User's administrative position in administration of this application.">
                        </sx-key-value-block>
                    </div>
                        
                       
                    
                </div>
            </div>
       </div>
   
    </div><!-- modus-content -->
</div> <!-- modus-content-columns end -->
 <!--
        <div class="d-block w-100" style="height: 300px;">
            
            <ams-chart-line 
                [environment]="env"
                [chartData]="chartDataUsers"
                title="Profit last 7 days"
                [chartLabels]="chartLabelsUsers"
                (chartClick)="onChartClick($event)">
            </ams-chart-line>
        </div>
    -->