<div class="d-block" [style]="styleSize" >
    <canvas baseChart
        [chartType]="'pie'"
        [data]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [colors]="pieChartColors"
        [legend]="legend"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>