
<a *ngIf="type === 'home'" class="image-16" href="{{url}}" target="_blank">
    <img *ngIf="url"  src="{{upImgUrl}}" alt="Airport Home" 
    matTooltip="Home Link"  />
</a>
<a *ngIf="type === 'oa'" class="image-16" href="{{url}}" target="_blank">
    <img *ngIf="url" src="{{ourApUrl}}" alt="Our Airports"
    matTooltip="Our Airports Link"/>
</a>
<a *ngIf="type === 'wiki'" class="image-16"  href="{{url}}" target="_blank">
    <img *ngIf="url"  src="{{wikiUrl}}" alt="Wikipedia" 
    matTooltip="Wikipedia Link"  />
</a>
