 <!-- Title -->

<div class="col-12 m-0 p-0">
    <div class="side-panel-sec" *ngIf="airport">
        <div class="side-panel-sec-rows">

            <div class="sp-row border-bottom border-tertiary mt-2">
                <div class="flex-start flex-align-items" 
                    matTooltip="Airport: {{airport.apName}} ({{airport.apId}})" 
                    matTooltipPosition="above" >
                    <ams-icon-ap-active [value]="airport.active"></ams-icon-ap-active>
                    <div class="flex ml-2">{{airport.apName}}</div>
                </div>
                <div class="flex-end">
                    <ams-icon-value *ngIf="airport.iata"
                        pipe="iata"
                        [value]="airport.iata" label="IATA">
                    </ams-icon-value>
                    <ams-icon-value *ngIf="airport.icao"
                        pipe="icao"
                        [value]="airport.icao" label="ICAO">
                    </ams-icon-value>
                </div>
            </div>

            <div *ngIf="airport" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="flex-start flex-align-items">
                    <div *ngIf="airport.countryId" class="icon-value mr-1" matTooltip="{{airport.cName}}">
                        <img src="{{airport.flagUrl}}" alt="{{airport.iso2}}"/>
                    </div>
                    <div *ngIf="airport.cityId" class="icon-value mr-0" 
                        matTooltip="City:{{airport.ctName}}"
                        matTooltipPosition="above">
                        <!--
                        <i class="material-icons" 
                            matTooltip="{{airport.cityId}}: {{airport.ctName}}" >location_city</i>
                        -->
                        {{airport.ctName}}
                    </div>
                    <div *ngIf="airport.stateId" class="icon-value" 
                        matTooltip="State:{{airport.stName}}"
                        matTooltipPosition="above">
                        , {{airport.stName}}
                    </div>
                    <div *ngIf="airport.iso2" class="icon-value">
                        ({{airport.iso2}})
                    </div>
                </div>
                <div class="flex-end">
                    <ams-icon-value pipe="utc" [value]="airport.utc" label="UTC"></ams-icon-value>
                </div>
            </div>

            <div *ngIf="airport" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="flex-start flex-align-items">
                    <ams-icon-value 
                        pipe="latlon" icon="assignment_return"
                        [value]="airport.lat" label="Latitude">
                    </ams-icon-value>
                    <ams-icon-value 
                        pipe="latlon" icon="assignment_returned"
                        [value]="airport.lon" label="Longitude">
                    </ams-icon-value>
                    
                </div>
                <div class="flex-end">
                    <ams-icon-value 
                        pipe="len" icon="vertical_align_top"
                        [value]="airport.elevation" label="Elevation">
                    </ams-icon-value>
                </div>
            </div>
            <div *ngIf="airport && (airport.maxRwLenght || airport.maxMtow)" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="flex-start flex-align-items">
                    <ams-icon-value *ngIf="airport.maxRwLenght" 
                        pipe="len" icon="settings_ethernet"
                        [value]="airport.maxRwLenght" label="Max Runway Lenght">
                    </ams-icon-value>
                </div>
                <div class="flex-end">
                    <ams-icon-value *ngIf="airport.maxMtow" 
                        pipe="mtow" icon="play_for_work"
                        [value]="airport.maxMtow" label="MTOW">
                    </ams-icon-value>
                </div>
            </div>

            <div class="sp-row">
                <div class="flex-start flex-align-items">
                    <ams-ap-icon-svg 
                        [rw_svg_path_circle]="airport.svgcircle"
                        [rw_svg_line]="airport.svgline"
                        [ap_active]="airport.active"
                        (click)="centerMapOnAirport()">
                    </ams-ap-icon-svg>
                </div>
                <div class="flex-end">
                    <ams-img-link *ngIf="airport.homeUrl" 
                        type="home" [url]="airport.homeUrl" class="ml-2">
                    </ams-img-link>
                    <ams-img-link *ngIf="airport.wikiUrl" 
                        type="wiki" [url]="airport.wikiUrl" class="ml-2">
                    </ams-img-link>
                    <ams-img-link *ngIf="airport.icao" 
                        type="oa" [ap_icao]="airport.icao" class="ml-2">
                    </ams-img-link>
                </div>
            </div>

        </div>
    </div><!-- sec end -->
    <div class="side-panel-sec text-center" *ngIf="airport">
        <img src="{{airport.staticmapUrl}}" alt="{{airport.icao}}">
        
    </div> <!-- sec end-->
</div>
