<div class="modus-content-columns">

    <sx-filter-panel [panelVar]="panelInVar"  
          fptitle="IMPORT ITEMS IN "
          [subtitle]="bom.bomName"
          (closePanel)="closePanelLeftClick()"
          (subtitleClick)="spmBomOpen()">
        
          <sx-bom-file-import-filter-panel-body (spmBomOpenClick)="spmBomOpen()"></sx-bom-file-import-filter-panel-body>
          
    </sx-filter-panel>

    <div class="modus-content p-4">
        <router-outlet></router-outlet>
    </div>
</div>
<div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btn-top">
    <i class="material-icons modus-icons">east</i>
</div>