<div class="col-12 card" style="height: calc(100vh - 98px) !important;">

    <div class="flex-align-items flex-space-between mt-0">
        <h2 class="mt-4 mb-0 w-100">Fields Mapping</h2>
        <div class="flex-end flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
                <div *ngIf="!errorMessage" class="mt-2 thin">
                    Select an imported column header on the right and drag and drop it into the standard 
                    column you would like to map it to.
                </div>
            </div>
            <div class="flex-end mr-2">
                <button  *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="!isValid" 
                        (click)="importItemsClick()">
                    IMPORT
                </button>
            </div>
        </div>
        

    </div>
    <hr class="">
    <div class="w-100">
        <div class="p-0" style="min-width: 580px; max-width: 580px;float: left;">
            <mat-card class="m-b-0">
                <mat-card-subtitle class="text-align-center">DATA FIELDS</mat-card-subtitle>
            </mat-card>
            <div class="scroll-box-h290 flex-wrap mt-1 p-0" style="align-content: flex-start;">
                <div  cdkDropList [id]="column.dbColumn"
                    [cdkDropListData]="[column]" 
                    (cdkDropListDropped)="drop($event)" 
                    [cdkDropListEnterPredicate]="evenPredicate"
                    *ngFor="let column of dbColumnsOpt"  class="column-drop-section">
                    
                    <div  class="subtitle">
                        <div class="flex-space-between">
                            <div class="ellipsis" matTooltip="{{column.name}}"> 
                                <span *ngIf="column.required" class="red">*</span>
                                {{column.name | uppercase }}
                            </div>
                            
                            <sx-button-info [message]="column.description">
                            </sx-button-info>
                        </div>
                        <div *ngIf="!column.dataField" >
                            <div   class="drop-section">
                                <div   class="size-14" >
                                    Drag and Drop Field
                                </div>
                                <!--
                                <div class="drop-section-placeholder" *cdkDragPlaceholder></div>
                                -->
                            </div>
                        </div>
                        
                        
                        <sx-simple-card  *ngIf="column.dataField"
                            [title]="column.dataField.name" 
                            border="card-border-yellow"
                            [close]="true" (closeSCard)="deleteDataField(column)">
                        </sx-simple-card>
                
                    </div>
                </div>
            </div>
        </div>
        <div class="p-0" style="margin-left: 580px;">
            <mat-card class="m-b-0">
                <mat-card-subtitle class="text-align-center">FILE FIELDS</mat-card-subtitle>
            </mat-card>
            <div cdkDropList class="scroll-box-h290 flex-wrap mt-1 p-0" style="align-content: flex-start;"
                    [cdkDropListData]="dataFields"
                    [cdkDropListConnectedTo]="columsIds" 
                    (cdkDropListDropped)="drop($event)">
                    <sx-simple-card *ngFor="let field of dataFields"
                        cdkDrag  [cdkDragData]="field" 
                        [title]="field.name" 
                        [content]="field.value" 
                        border="card-border-blue"
                        [close]="true" (closeSCard)="deleteField(field)">
                    </sx-simple-card>
            </div>
        </div>
    </div>
</div>
