

  
<div class="col-12 card" style="height: calc(100vh - 98px) !important;">

  <div class="flex-align-items flex-space-between">
    <h2 class="mt-4 mb-0 w-100">Import Items from File</h2>

    <div class="flex-end flex-align-items flex-space-between w-100">
      <div class="flex-start">
          <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
          <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
              class="dialog-spinner" color="primary"  mode="indeterminate">
          </mat-progress-spinner>
      </div>
      <div class="flex-end mr-2">
        <!--\
          <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
        -->
          <button *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                  class="f-w-300"
                  [disabled]="fgSelectFile.invalid" (click)="onSubmit()">
              MAP FIELDS
          </button>
      </div>
  </div>
  </div>
  
  <hr class="mt-1">
  <form [formGroup]="fgSelectFile" class="w-100 pt-0" >
      
    <div class="flex mt-2 w-100">
        <sx-file-upload class="w-100"
              (click)="priceFileIn.value = ''; priceFileIn.click()"
              [uploadedFile]="selFileName" [size]="selFileSize">
        </sx-file-upload>
        <input #priceFileIn type="file"  id="priceFileIn" class="hidden"
            (change)="priceFileChange($event)" 
            accept=".txt,.tab,.csv,application/tab,text/csv,text/plain" required/>
    </div>
    <div class="flex-align-items margin-top-20 width-100">
      <div class="side-panel-sec m-t-24" *ngIf="isImportReady">
          <div class="side-panel-sec-title">File Content</div>
          <div class="side-panel-sec-rows">
              <div class="sp-row flex-space-between">
                  <div class="sp-label flex-align-items" matTooltip="Rows" style="line-height: 1.8;">
                    <i class="material-icons size-18 mr-2">format_align_justify</i>Rows</div>
                  <div class="sp-value">
                      <div class="flex-align-items">
                          <span>{{itemsData.length | number:'1.0-0'}}</span>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- sec end-->
    </div>
  </form>
</div>
  
    

  
