
///////////
// -LOGIN //
///////////
.login{
    &-page-container{
        display: block;
        @include placement(fixed, 0px, 0, 0, 0px);
        @include size(100%, 100%);
        background-image: linear-gradient( to right,rgb(41, 40, 40, 0.95), rgba(255, 255, 0, 0.3) 80%, rgba(0, 45, 179, 0.75) 85%), url("https://sx.iordanov.info/assets/images/suplier_ship_4.jpg");
        background-size:contain;
        &-overlay{
          content: '';
          display: block;
          @include placement(fixed, 0px, 0, 0, 0px);
          @include size(100%, 100%);
          background-color: $transparent;
        }
    }
    &-logo{
        height: 35px;
        @include placement(absolute,20px, null, null, 20px);
        opacity: 0.6;
    }
    &-title{
        padding-top: 5px;
        font-size: 1.25em;
        color: #ffffff;
        font-weight: 300;
    }
    &-welcome{
        @include text($f-24px,#ffffff,200);
        &-sub{
            @include text($f-16px,#ffffff,100);
        }
        &-container{
          @include size(100%, 100%);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            vertical-align: bottom;
            overflow-y: auto;
        }
        &-text{
          &-mdnone{
            @extend .login-welcome-text;
            @include med-window {
              & { display: none; }
            }
          }
          text-align: justify;
          margin-top: 16px;
          margin-left: 32px;
          margin-right: 80px;
          letter-spacing: 1.5px;
          @include text($f-16px,#ffffff,300);
          @include med-window {
            & {
              @include text($f-12px,#ffffff,300);
            }
          }
          & > span {
            font-weight: 400;
            text-decoration: underline;
            &:hover{
              color: $yellow-light;
              text-decoration: none;
            }
          }
          .img-left {
            width: 300px;
            float: left;
            margin: 5px 15px;
            padding: 0px 5px;
            background-image: linear-gradient(to right, rgba(255, 255, 255,0), rgba(255, 255, 255,1) 20%,  rgba(255, 255, 255,1) 80%,rgba(255, 255, 255,0));
            @include med-window {
              & {
                  /*display: none;*/
                  width: 50px;
              }
            }
          }
          .img-right {
            width: 300px;
            float: right;
            margin: 5px 10px;
            padding: 0px 5px;
            background-image: linear-gradient(to right, rgba(255, 255, 255,0), rgba(255, 255, 255,1) 20%,  rgba(255, 255, 255,1) 80%,rgba(255, 255, 255,0));
            @include med-window {
              & {
                  /*display: none;*/
                  width: 50px;
              }
            }
          }
        }
    }
    &-container{
        @include size(100%, 100%);
        display: flex;
        &-left{
            @include size(50%, 100%);
            @extend .flex-middle;
            @include med-window {
                & > .text-align-center {
                    display: none;
                 }
                & {
                    @include size(0%, 100%);
                }
            } 
        }
        &-right{
            @include size(50%, 100%); 
            @include gradient-blue-opaque(); 
            /*@extend .flex-start;*/   
            justify-content: space-around;
            align-self: center;
            @include med-window {
                & {
                    @include size(100%, 100%); 
                 }
            } 
        }
        &-blue{
          @include size(100%, 100%); 
          @include gradient-blue-opaque(); 
          display: flex;
          justify-content: center;
          align-items: center;
          @include med-window {
              & {
                  @include size(100%, 100%); 
               }
          } 
      }
    }
    &-form{
        padding: 25px;
        width: 400px;
        margin-bottom: 50px;
    }
    &-link{
        @include text($f-14px,$yellow-main !important, 200);
        &:hover{
            color: $yellow-light;
        }
    }
    &-copyright{
        padding:10px;
        @include text($f-14px,$yellow-main, 200);
        @include placement(absolute,null,20px,20px,null);
        &:hover{
            color:#ffffff;
        }
    }
  }