// 1.PRODUCT IMAGE 
// 2.PRODUCT PAGE CONTAINERS 

///////////////////
// PRODUCT IMAGE //
///////////////////
.product-details-image{
    // Product image tyles
    &-wide{
        @include size(100%,auto);
        padding-top: 10px;
     }
    &-tall{
        @include size(auto, 100%);
        padding-top: 10px;
    }
    &-card{
        min-width: 600px;
        padding:10px;
        margin:10px;
        @include lrg-window{
            min-width: inherit;
        }
       
    }
    &-container{
        margin: 10px;
        @include square(450px);
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @include lrg-window{
            width: 100%;
            max-height: inherit;
        }
    }
 }  

 
 
/////////////////////////////
// PRODUCT PAGE CONTAINERS //
/////////////////////////////
.product-details{
    &-container{
    padding:15px;
    margin:10px;
    min-height: 540px;
    }
    &-similar-items {
        padding:20px 10px 20px 10px;
        margin:10px;
    }
    
}

