
///////////////////////
// -QUICK FLEX FORMAT //
///////////////////////
.flex{
    display: flex;
    &-col{
        display: flex;
        flex-direction: column;
    }
    &-center{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &-middle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-wrap{
        @extend .flex;
        flex-wrap: wrap;
    }
    &-end{
        display: flex;
        justify-content: flex-end;
    }
    &-start{
        display: flex;
        justify-content: flex-start;
    }
    &-align-items{
        display: flex;
        align-items: center;
    }
    &-space-between{
        @extend .flex;
        justify-content: space-between;
    }
  }
  
  .center-center{
    @extend .flex-align-items;
    @extend .flex-center;
  }
  
  ///////////////////////
  // -TEXT MAIN COLORS. //
  ///////////////////////
  .orange{
    color:$orange-main!important;
  }
  .blue{
    color:$blue-main!important;
  }
  .blue-light{
    color:$light-blue!important;
  }
  .yellow{
    color:$yellow-main!important;
  }
  .white{
    color:white!important;
  }
  .red{
    color: $red!important;
  }
  .gray{
    color:$gray-dark!important;
  }
  .green{
   color:$green-success!important;
  }
  .pink {
    color:$pink;
  }
  /////////////////
  // -FORMAT TEXT //
  /////////////////
  .ellipsis{
    @include ellipsis(100%);
  }
  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right;
  }
  .text-left{
    text-align: left;
  }
  .bold{
    font-weight: 800!important;
  }
  .semi-bold{
    font-weight: 600!important;
  }
  .regular{
    font-weight: 400!important;
  }
  .thin{
    font-weight: 300!important;
  }
  .size{
    &-24{
        font-size: $f-24px!important;
    }
    &-20{
        font-size: $f-20px!important;
    }
    &-18{
        font-size: $f-18px!important;
    }
    &-16{
        font-size: $f-16px;
    }
    &-14{
        font-size: $f-14px;
    }
    &-12{
        font-size: $f-12px;
    }
    &-10{
        font-size: $f-10px;
    }
    &-8{
        font-size: $f-8px;
    }
  }
  /////////////////
  // -IMAGE SIZE //
  /////////////////
  .image{
    &-24 {
      min-width: 24px;
      &:hover{
          @include hover-pop(rgba(0,0,0,0.1), 50%, 250ms, 0);
          cursor: pointer;
      }
      & > img {
      height: 24px;
      
      padding: 0px;
      vertical-align: middle;
      image-rendering: crisp-edges;
      }
  }
    &-18 {
        min-width: 18px;
        &:hover{
            @include hover-pop(rgba(0,0,0,0.1), 50%, 250ms, 0);
            cursor: pointer;
        }
        & > img {
        height: 18px;
        
        padding: 0px;
        vertical-align: middle;
        image-rendering: crisp-edges;
        }
    }
    &-16 {
        min-width: 16px;
        
        & > img {
          height: 16px;
          padding: 0px;
          vertical-align: middle;
          image-rendering: crisp-edges;
          &:hover{
            @include hover-pop(rgba(0,0,0,0.1), 50%, 250ms, 0);
            cursor: pointer;
          }
        }
    }
    &-14 {
      min-width: 14px;
     
      & > img {
        height: 14px;
        padding: 0px;
        vertical-align: middle;
        image-rendering: crisp-edges;
        &:hover{
          @include hover-pop(rgba(0,0,0,0.1), 50%, 250ms, 0);
          cursor: pointer;
        }
      }
    }
  }
  
