.navbar{
    position: relative;
    flex-wrap: nowrap!important;
    &-brand{
        margin-left: 4px!important;
        img{
            height: 42px;
            vertical-align: super;
        }

    }
}

///////////////
// -TOOLTIP  //
///////////////
.mat-tooltip {
    background-color: darkblue!important;
    font-size: 12px!important;
    z-index: 10000!important;
    
}
.ng-star-inserted{
    & .modus-content-rows{
        min-width: calc(100vw - 77px) !important;
        min-height: calc(100vh - 56px) !important;;
    }

    & .modus-content{
     
      min-height: calc(100vh - 56px) !important;
  }
}
/*--------------------- 
  Tooltip 
----------------------*/
.tooltip{
    background-color: rgb(63, 81, 181, 0.95);
    font-size: 16px!important;
    z-index: 10000!important;
    &-sm {
      @extend .tooltip;
      font-size: 14px!important;
    }
    &-red {
        @extend .tooltip;
        background: #b71c1c;
  
        &-sm {
          @extend .tooltip-red;
          font-size: 14px!important;
        }
    }
    &-yellow {
      @extend .tooltip;
      background-color: rgba(255, 235, 59, 0.8)!important;
      color: #002D5B!important;
  
      &-sm {
        @extend .tooltip-yellow;
        font-size: 14px!important;
      }
    }
    &-blue {
      @extend .tooltip;
      background-color: rgba(0, 45, 91, 0.8) !important;
  
      &-sm {
        @extend .tooltip-blue;
        font-size: 14px!important;
      }
    }
    &-green {
      @extend .tooltip;
      background-color: rgba(76, 175, 80, 0.8)!important;
      
      &-sm {
        @extend .tooltip-green;
        font-size: 14px!important;
      }
    }
    
  }
/*
.ng-star-inserted{
    .modus-content {
        width: calc(100vw - 60px) !important;
    }
}
.modus-content {
    @extend .modus-content;
    height: calc(100vh - 56px) !important;
    /*width: calc(100vw - 60px) !important;*
}
*/

.modus{
  &-body {
    @extend .modus-body;
    height: calc(100vh - 56px) !important;
  }
}
.modus-panel{
      @extend .modus-panel;
      height: calc(100vh - 56px) !important;
      background-color:transparent!important;

      .panel-header{
        @extend .panel-header;
        letter-spacing: 2px;
        /*
        h5{
          text-transform: uppercase;
        }*/
      }
}

.modus-panel .panel-body .scroll-container {
  overflow-y: auto;
  height: calc(100vh - 56px) !important;
  padding-bottom: 150px!important;
}

.modus-toolbar{
      background-color: #fff;
      /*display: block;
      width:100%;*/
      align-items: stretch;
      flex: 1 1 auto;
}


  