.mat-dialog-container {
    @extend .modal-dialog;
    margin: 0.5rem!important;
    padding: 12px!important;
    overflow: hidden;

    .modal-content{
        @extend .modal-content;
        height: 100%;
        overflow: auto;

        .modal-header{
            display: block;
            font-weight: 400!important;
            background-color: aliceblue;
            .modal-title{
                font-weight: 400;
            }
            .card-subtitle-1{
                font-weight: 300;
            }
            .close{
                padding:0.3rem 0.5rem calc(0.5rem - 1px)!important;
                border-color: transparent!important;
                font-weight: 200;
                &:hover{
                    color: #000;
                    font-weight: 500;
                    cursor: pointer;
                  }
            }
    
        } 

        .modal-body{
            flex:0.3 0.3 auto;
        }
    }
   

    .mat-dialog-content{
        @extend .mat-dialog-content;
        margin:0px!important
    }
    .mat-dialog-actions{
        @extend .mat-dialog-actions;
        position: absolute;
        bottom: 25px;
        width: 100%!important;
        flex-wrap: nowrap!important;
        justify-content: space-between !important
    }
}
.modal-dialog, 
.mat-dialog-container {
     max-width: 100%!important;
}
/*
form{
    .mat-form-field{
        @extend .mat-form-field;
        @extend .form-group;
        margin-bottom: 0px;
        line-height: 20px;
    }
}
*/