
/////////////////////
// PAGE ROOT STYLE //
/////////////////////
.page{
    &-header{
        @include flex-space-between();
    }
    &-title{
        margin-bottom:0px;
        padding-top: 5px;
        padding-left: 5px;
        @include text($f-18px,$blue-main, 400);
        &-light{
            padding-top: 5px;
            padding-left: 5px;
            @include text(20px,$yellow-main, 400);
        }
    }
    &-sub-title{
        padding-top: 5px;
        @include text(18px,$font, 300);
        &-light{
            padding-top: 5px;
            padding-left: 5px;
            @include text(18px,$yellow-main, 500);
        }
    }
    &-pagination{
        width: 100%;
        padding:10px;
        @extend .center-center;
    }
}

/////////////////////
// PAGE CONTAINERS //
/////////////////////

/* NOTE: Put all views in ".main-container-child". If the view has a sibling like the
dashboard or seach results only place in ".main-container" */
.main-container{
    margin: 57px 0px 0px 70px;
    &-child{
        /*@include calc-min-height(100vh,80px);*/
        padding: 8px 8px 8px 8px; 
        width:100%;
        height: calc(100vh - 56px) !important;
        background-color: $page-backdrop;
        & > .page-header{
            margin:5px 5px 0px 5px;
        }
        &-blue{
            @extend .main-container-child;
            @include gradient-blue-opaque(); 
            justify-content: center;
            align-items: center;
        }
        &-with-utilitybar{
            @extend .main-container-child;
            margin-top: 110px;
            @media (max-width: 1204px) {
                margin-top: 163px;
            }
            & > .page-header{
                margin:5px 5px 0px 5px;
            }
        }
    }
}

/////////////////////
// -KEY VALUE BLOCK //
/////////////////////
.key{
    &-value-container{
        display: flex;
        flex-wrap: wrap;
    }
    &-value-block{
        padding: 10px;
        &-sm{
            width: 133.33px
        }
        &-med{
            width: 200px;
        }
        &-lrg{
            width: 350px;
        }
    }
    &-name{
        @include text($f-14px ,inherit, 600);
        &-icon-container{
            position: relative;
            height: 21px;
            .info-btn{
                padding: 0px 8px;
                & > i{
                    font-size: 20px;
                }
                
            }
        }
    }
    &-value{
        @include text($f-16px,inherit, 200);
    }
}
