
    <!-- modus-content -->
    <div class="modus-content-rows">
        <div class="modus-content-columns">
            <!-- Modus Panel -->
            <sx-filter-panel [panelVar]="panelInVar"  
                fptitle="BOM"
                [subtitle]="bom.bomName"
                (closePanel)="closePanelLeftClick()"
                (subtitleClick)="spmBomOpen(bom)">
                
                <sx-bom-items-filter-panel-body (spmBomOpenClick)="spmBomOpen($event)"></sx-bom-items-filter-panel-body>
                
            </sx-filter-panel>
            
          <!-- Modus Content -->
          
            <div class="modus-content sx-tabs">
                <router-outlet></router-outlet>
            </div>
          
        </div>
        <div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btntop">
            <i class="material-icons modus-icons">east</i>
        </div>
    </div><!-- modus-content end-->
    <sx-side-panel-modal #spmBom (closeSmpClick)="spmBomClose()">
        <sx-spm-bom-info [bom]="bom" ></sx-spm-bom-info>
    </sx-side-panel-modal> 

    
    
    
  
