<div class="panel-body" style="flex-grow: 1">
    <!-- Static Container -->
    <div class="static-container">
      <div class="d-flex flrx-align-items flex-space-between w-100">

        <div class="flex-align-items flex-start">

          <button  class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Go to BOM list"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.bom, roots.list]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          
          <!--
          <ams-img-link *ngIf="state && state.wikiUrl" 
              type="wiki" [url]="state.wikiUrl" class="ml-2">
          </ams-img-link>
          <ams-img-link *ngIf="state && state.iso" 
              type="oa" [state_iso]="state.iso" class="ml-2">
          </ams-img-link>
         -->
        </div>
        
        <div class="flex-align-items flex-end">
         
          <div class="" ngbDropdown  *ngIf="bom">
            <sx-format-control 
                class="link size-18"
                label="" color="light"
                [matMenuTriggerFor]="bomMenu"
                icon="calendar_view_day">
            </sx-format-control>
            <mat-menu #bomMenu="matMenu">
                <button mat-menu-item class="link blue" (click)="ediBom(bom)">
                    <mat-icon class="link blue">edit</mat-icon> 
                    <span>Edit BOM</span>
                </button>

              <div class="dropdown-divider"></div>
              <button mat-menu-item (click)="spmBomOpen()">
                  <mat-icon class="link blue">info</mat-icon> 
                  <span>{{bom.bomName}}</span>
              </button>
              
            </mat-menu>
            
        </div>
          <sx-button-round 
              message="Show BOM Details" tooltipPlacement="bottom"
               color="light"
              (click)="spmBomOpen()" 
              icon="info"> 
          </sx-button-round>
        </div>
        
      </div>

    </div>

    <!-- Scroll Container -->
    <div class="scroll-container p-2">
       <!--
      <ams-card-airport-info [airport]="airport" class="card"></ams-card-airport-info>
     -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{bom.bomName}}
            <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" 
            style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
          </h5>
          
          <div class="side-panel-sec-rows">
              <sx-side-panel-row-value *ngIf="bom.description" [value]="bom.description" [vtype]="vtypes.HTML"></sx-side-panel-row-value>
          </div>
          
          <div class="side-panel-sec-rows">
            <div class="sp-row">
              <div class="card-caption text-monospace">Created on {{bom.adate | date:'MMM d, y'}} from {{bom.userName}}.
                <span *ngIf="bom.itemsCount">Contains <b>{{bom.itemsCount | number:'1.0-0'}}</b> items.</span> 
                <span *ngIf="!bom.itemsCount">The BOM is empty.</span> 
              </div>
            </div>
            <!--
            <sx-side-panel-row-value *ngIf="bom.itemsCount" label="Number of Items" [value]="bom.itemsCount" [vtype]="vtypes.Number"></sx-side-panel-row-value>
            -->
          </div>
          
        </div>
      </div>

      <div *ngIf="fileInfo && fileDataRows" class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">FILE</h5>
          <hr class="mt-0">
          <div class="side-panel-sec-rows">
            <sx-side-panel-row-value *ngIf="fileInfo.name" label="Name" [value]="fileInfo.name" [vtype]="vtypes.String"></sx-side-panel-row-value>
            <sx-side-panel-row-value *ngIf="fileInfo.size" label="Size" value="{{fileInfo.size | sxfilesize}}" [vtype]="vtypes.String"></sx-side-panel-row-value>
            <sx-side-panel-row-value *ngIf="fileDataRows" label="Lines" [value]="fileDataRows.length" [vtype]="vtypes.Number"></sx-side-panel-row-value>
            <div class="sp-row" *ngIf="fileDataRows">
              <div class="card-caption text-monospace">
                
              </div>
            </div>
          </div>
        </div>
       
        <!--
        <div class="side-panel-sec" >
            <div class="side-panel-sec-rows">
               
                <div class="sp-row flex-space-between">
                    <div class="sp-label" matTooltip="Rows">Rows</div>
                    <div class="sp-value">
                        <div class="flex-align-items">
                            <i class="material-icons size-18 mr-2">format_align_justify</i>
                            <span>{{rawLineData.length | number:'1.0-0'}}</span>
                        </div>
                    </div>
                </div>
                <sx-side-panel-row-value label="Fields Count" value="{{fileInfo.dataFields | number:'1.0-0'}}"></sx-side-panel-row-value>
            </div>
           
            <div class="side-panel-sec-title">File Content</div>
           
        </div> sec end-->
    </div>
      
    </div>
  </div>