.chart-edge {
    margin: 20px -8px 0 -10px;
    overflow: hidden;
    
    .flot-chart {
        bottom: -14px;
    }
}

.charts-row {
    margin-top: 50px;
    margin-bottom: 20px;
}


//////////////////
// -MINI CHARTS //
//////////////////
.mini-chart {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    position: relative;
    height: 90px;
    margin-bottom: 30px;
    & > .clearfix {
        position: relative;
        z-index: 1;
        height: 100%;
    }

    .chart {
        padding: 9px;
        width: 106px;
        height: 100%;
        float: left;
        text-align: center;

        &.chart-pie {
            margin: 0 20px;
        }
        & > img {
            display: inline-block;
            max-width: 78px;
            vertical-align: top;
        }
    } 
    
    .count {
        overflow: hidden;
        color: rgba(255, 255, 255, 0.9);
        padding: 10px 12px;
        height: 100%;
        & > h2 {
            line-height: 100%;
            font-size: 22px;
            font-weight: 300;
            color: #fff;   
            text-align: end;
        }
        
        & > small {
            margin-bottom: 4px;
            display: block;
            font-size: 14px;
            font-weight: 300;
        }

        .info{
            @include text-overflow();
            display: flex;
            @extend .flex;
            justify-content: space-between;
            margin-bottom: 4px;
        }
        
        & > h2,
        & > small {
            @include text-overflow();
        }
    }
    
    &:before {
        @include transition(width);
        @include transition-duration(500ms);
        @include backface-visibility(hidden);
        content: "";
        width: 106px;
        height: 100%;
        background: rgba(0,0,0,0.1);
        position: absolute;
        left: 0;
        top: 0;
    }
    
    &:hover {
        @include card-shadow-hover();
        transition: box-shadow 1s;
        cursor: pointer;
        .count {
            color: #fff !important;
        }
        
        &:before {
            width: 100%;
        }
    }
}



/////////////////////////
// -MINI CHARTS ITEMS //
////////////////////////
.mini-charts-item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    position: relative;
    height: 100%!important;
    margin-bottom: 30px;
    padding: 10px;
    .chart {
        padding: 9px;
        float: left;
        
        &.chart-pie {
            margin: 0 20px;
        }
    } 
    
    .count {
        overflow: hidden;
        color: rgba(255, 255, 255, 0.9);
        padding: 10px 12px;
        
        & > h2 {
            margin: 0;
            line-height: 100%;
            font-size: 22px;
            font-weight: 300;
            color: #fff;   
            text-align: end;
        }
        
        & > small {
            margin-bottom: 4px;
            display: block;
            font-size: 14px;
            font-weight: 300;
        }

        .info{
            @include text-overflow();
            display: flex;
            @extend .flex;
            justify-content: space-between;
            margin-bottom: 4px;
        }
        
        & > h2,
        & > small {
            @include text-overflow();
        }
    }
    
    
    
    & > .clearfix {
        position: relative;
        z-index: 1;
    }
    
    &:before {
        @include transition(width);
        @include transition-duration(500ms);
        @include backface-visibility(hidden);
        content: "";
        width: 106px;
        height: 100%;
        background: rgba(0,0,0,0.1);
        position: absolute;
        left: 0;
        top: 0;
    }
    
    &:hover {
        @include card-shadow-hover();
        transition: box-shadow 1s;
        cursor: pointer;
        .count {
            color: #fff !important;
        }
        
        &:before {
            width: 100%;
        }
    }
}

/////////////////////////
// -MINI TILE ITEMS   //
////////////////////////
.mini-tile {
    margin-bottom: 20px;
    padding: 10px;

    .box {
        position: relative;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        height: 100%!important;
        border-radius: 4px;

        .chart-container {
            padding: 9px;
            float: left;
            vertical-align:middle;
            text-align:center;
            width: 118px;
            height: 100%;
            
            & canvas, .chart{
                width: 100px;
                height: 70px;
            }
            &.chart-pie {
                margin: 0 20px;
            }
            img{
                max-width: 100px;
                max-height: 70px;
                display:inline-block;
            }
        } 
        
        .count {
            overflow: hidden;
            color: rgba(255, 255, 255, 0.9);
            padding: 10px 12px;
            margin-left: 118px;
            & > h2 {
                margin: 0;
                line-height: 100%;
                font-size: 22px;
                font-weight: 300;
                color: #fff;   
                text-align: end;
            }
            
            & > small {
                margin-bottom: 4px;
                display: block;
                font-size: 14px;
                font-weight: 300;
            }
    
            .info{
                @include text-overflow();
                display: flex;
                @extend .flex;
                justify-content: space-between;
                margin-bottom: 4px;
            }
            
            & > h2,
            & > small {
                @include text-overflow();
            }
        }
        
        
        
        & > .clearfix {
            position: relative;
            z-index: 1;
            height: 88px;
        }
        
        &:before {
            @include transition(width);
            @include transition-duration(500ms);
            @include backface-visibility(hidden);
            content: "";
            width: 118px;
            height: 100%;
            background: rgba(0,0,0,0.1);
            position: absolute;
            left: 0;
            top: 0;
        }
        
        &:hover {
            @include card-shadow-hover();
            transition: box-shadow 1s;
            cursor: pointer;
            .count {
                color: #fff !important;
            }
            
            &:before {
                width: 100%;
            }
        }
    }
}