
.card-image {
    @extend .card;
    margin: 5px;
    padding: 2px;
    align-items: center;
    background-color: #fff;

    .card-body{
        width: 255px;
        height: 255px;
    }
    
    
    
    /*flex-direction: column;
    justify-content: center;
   opacity: 0.6;*/

    .active{
        border: 2px solid green;
    }
    :hover{
        cursor: pointer;
        background-color: #fffae6;
        /*background-color: #009AD9;*/
    }
}

.card-avatar {
    @extend .card;
    padding:10px;
    /*margin:10px;*/
    .card-body{
        @include square(450px);
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .active{
        border: 2px solid green;
    }
    :hover{
        cursor: pointer;
        background-color: #fffae6;
        /*background-color: #009AD9;*/
    }
}

.image {
    &-wide{
        @include size(100%,auto);
        padding-top: 10px;
     }
    &-tall{
        @include size(auto, 100%);
        padding-top: 10px;
    }
    &-responsive{
        display: block;
        @include size(100%,auto);
    }
}


.ap-svg{
    background-color:transparent;
    border:none;
    @include size(22px,22px);
    &-48{
        @extend .ap-svg;
        @include size(48px,48px);
    }
    &-20{
        @extend .ap-svg;
        @include size(20px,20px);
    }
    &-18{
        @extend .ap-svg;
        @include size(18px,18px);
    }
    &-16{
        @extend .ap-svg;
        @include size(16px,16px);
    }
}
