
////////////////
// -CHECK BOX //
////////////////
.global-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
    transition: opacity .5s ease-in-out;

    h1 {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 0.04rem;
        white-space: pre;
    
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: repeating-linear-gradient(to right,
            #F44336, #9C27B0, #3F51B5, #03A9F4, #009688, #8BC34A, #FFEB3B, #FF9800);
        background-size: 750% auto;
        background-position: 0 100%;
        animation: gradient 20s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    
}

.global-loader-fade-in {
    opacity: 0;
}

.global-loader-hidden {
    display: none;
}

@keyframes gradient {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -750% 0;
    }
}