.scroll-box,
.scroll-container{
    height: 350px;
    background: $scroll-gray;
    margin-bottom:20px;
    padding: 10px 15px 150px 15px;
    overflow-y: auto;
    overflow-x: hidden;

    &-note{
        font-size: $f-14px;
        margin-left: 10px;
    }
    &-white{
        @extend .scroll-box;
        height: 300px;
        background: #fff;
        overflow-y: auto;
    }
    &-small{
        @extend .scroll-box;
        height: 200px;
    }
    &-pad-3{
        @extend .scroll-box;
        padding: 3px!important;
    }
    &-100{
        @extend .scroll-box;
        height: 100%;
        &-p0{
            @extend .scroll-box-100;
            padding: 0px!important;
        }
    }
    &-h100{
        @extend .scroll-box;
        min-height: 250px;
        @include calc-height(100vh, 315px);
    }
    &-h310{
        @extend .scroll-box;
        min-height: 250px;
        margin-bottom:0px;
        @include calc-height(100vh, 310px);
        &-p0{
            @extend .scroll-box-h310;
            padding: 0px 0px 0px 0px;
        }
    }
    &-h290{
        @extend .scroll-box;
        min-height: 250px;
        overflow-y: auto;
        margin-bottom:0px;
        @include calc-height(100vh, 290px);
        &-p0{
            @extend .scroll-box-h290;
            padding: 0px!important;
        }
    }
    &-h270{
        @extend .scroll-box;
        min-height: 200px;
        margin-bottom:0px;
        @include calc-height(100vh, 270px);
    }
    &-h160{
        @extend .scroll-box;
        background: #fff;
        overflow-y: auto;
        min-height: 250px;
        @include calc-height(100vh, 160px);
    }
}