
////////////////
// -SIDE TAB   //
////////////////

/** use this.expandTabVar = this.expandTabVar === Animate.in ? Animate.out : Animate.in; for side tab,
see example in quote summary component. **/

.side-tab{
    background: $blue-main;
    @include size (72px, 64px);
    @include placement(absolute, 33% ,0px,null,null);
    @extend .flex-align-items;
    padding-left:10px;
    color:#ffffff;
    &-yellow{
        @extend .side-tab;
        background: $yellow-main;
        &:hover{
            background: $yellow-light;
            cursor: pointer;
        }

        .key-value-block{
            width: 200px;
            overflow: hidden;
        }
    }
    &-btn {
        @extend .side-tab;
        color:$blue-main;
        @include placement(absolute, 30% ,0px,null,null);
        @include size (72px, 64px);
        &:hover{
            background: $yellow-light;
            cursor: pointer;
        }
        & > i {
            font-size: 1.25rem!important;
            line-height: 0.8!important;
        }
    }
    &-btntop{
        @extend .flex-align-items;
        color:$blue-main;
        z-index: 300;
        background: $yellow-main!important;
        @include size (52px, 44px);
        @include placement(absolute, 2px ,null,null, 0px);
        & > i {
            font-size: 1.25rem!important;
            line-height: 0.8!important;
        }
        &:hover{
            background-color: $light-blue!important;
            color: $yellow-main;
            cursor: pointer;
        }
        
       
    }

    &-int{
        @extend .side-tab-btntop;
       
        @include placement(absolute, 5px ,null,null,0px);
    }
   
    &:hover{
        background: $light-blue;
        cursor: pointer;
    }
    @include med-window {
        & {
            display: none;
        }
    }
    & > i {
        font-size: 50px; 
    }
    &-content{
        white-space: nowrap;
        width: 100%;
        margin-left: 10px;
    }
}
