///////////////
// -TAB MATERIAL  //
///////////////
.mat-tab-group{
  padding: 0px!important;
}
.sx-tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  /* calc(100vh - 57px) 
  height: calc(100vh - 21px) !important;
  */
  .mat-tab-body-wrapper{
    height: calc(100vh - 106px) !important;
  }

  &-icon{
    height: 30px;
    margin-right: 8px;
  }

}