
    <!-- modus-content -->
    <div class="modus-content-rows">
        <div class="modus-content-columns">
            <!-- Modus Panel 
            <sx-filter-panel [panelVar]="panelInVar"  
                fptitle="State"
                [subtitle]="state.stName"
                (closePanel)="closePanelLeftClick()"
                (subtitleClick)="spmSubregionOpen()">
                <ams-wad-state-filter-panel-body></ams-wad-state-filter-panel-body>
            </sx-filter-panel>
            -->
          <!-- Modus Content -->
          
            <div class="modus-content sx-tabs">
                <router-outlet></router-outlet>
            </div>
          
        </div>
        
    </div><!-- modus-content end-->


    <!--
    <div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btn-top">
        <i class="material-icons modus-icons">east</i>
    </div>
    -->
  
