<div class="sxtable-container-full">
    <div class="sxtable-toolbar">
        
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white">
                <div class="flex-start flex-align-items">
                    <span>{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount<2" class="pl-1 f-w-300">Bom</span>
                    <span *ngIf="dataCount>1" class="pl-1 f-w-300">Bill Of Materials</span>
                </div>
                <div class="flex-end m-r-8 f-s-14">
                    
                    <sx-button-round 
                        (click)="addBom()"
                        [disabled]="!canEdit"
                        message="Add new BOM"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    
                    <mat-form-field class="f-w-300">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
        
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef width ="60px" class="t-c"></th>
                <td mat-cell *matCellDef="let row" class="t-c">
                    <div class="flex-align-items w-full">
                        
                        <sx-button-round 
                            (click)="gotoBom(row)"
                            [disabled]="!canEdit"
                            position="left" 
                            icon="open_in_new"
                            message="View Bom"> 
                        </sx-button-round>
                        
                        <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="ediBom(row)"
                            matTooltip="Edit Bom {{row.bomName}}">
                            edit
                        </mat-icon>
                        <!--
                        <sx-button-round 
                            message="Show Airport Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAirportOpen(airport)" 
                            icon="info"> 
                        </sx-button-round>
                        -->
                    </div>
                
                </td>
            </ng-container>
            <!--
            <ng-container matColumnDef="image" sticky>
                <th mat-header-cell *matHeaderCellDef width ="60px" class="text-center"></th>
                <td mat-cell *matCellDef="let mac" class="text-center">
                    <div *ngIf="mac.imageUrl" class="icon-value mr-1" matTooltip="{{mac.model}}">
                        <img src="{{mac.imgTableUrl}}" alt="{{mac.model}}"/>
                    </div>
                </td>
            </ng-container>
        -->
            <ng-container matColumnDef="bomId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">№</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.bomId}}
                    </div>
                    
                </td>
            </ng-container>
            <!--
            <ng-container matColumnDef="acTypeId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px" class="pl-2">Type</th>
                <td mat-cell *matCellDef="let row" class="pl-2">
                    <div class="w-full text-left">
                        {{row.acTypeId | actype}}
                    </div>
                    
                </td>
            </ng-container>
        -->
            <ng-container matColumnDef="bomName" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200 pl-2">Name</th>
                <td mat-cell *matCellDef="let row" class="pl-2">
                    <div class="flex-align-items">
                        <div>{{row.bomName}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 pl-2">Description</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2">
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.description}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 pl-2">User</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2">
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.userName}}</div>
                    </div>
                </td>
            </ng-container>
            
            
            <ng-container matColumnDef="adate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Created On</th>
                <td mat-cell *matCellDef="let row">{{row.adate | date:'MMM d, y'}}</td>
            </ng-container>
            <ng-container matColumnDef="itemsCount" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px" class="pl-2 text-right">Items</th>
                <td mat-cell *matCellDef="let row" class="pl-2 text-right">
                    <div class="flex-align-items w-100">
                        <div class="w-100 pr-4">{{row.itemsCount | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Updated On</th>
                <td mat-cell *matCellDef="let row">{{row.udate | date:'MMM d, y'}}</td>
            </ng-container>
           
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        showFirstLastButtons>
    </mat-paginator>
</div>