
<!--
<button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" 
    matTooltip="Region: {{region.rName}}"
    matTooltipPosition="above" 
    [routerLink]="[roots.Root, roots.wad, roots.region]"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
    <i class="modus-icon material-icons">public</i>
</button>
<button *ngIf="subregion" class="btn btn-icon-only btn-text-primary m-l-5" 
    matTooltip="Subregion: {{subregion.srName}}"
    matTooltipPosition="above" 
    [routerLink]="[roots.Root, roots.wad, roots.subregion]"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
    <i class="modus-icon material-icons">workspaces</i>
</button>
<button *ngIf="country" class="btn btn-icon-only m-l-5" 
    matTooltip="Country: {{country.cName}} ({{country.iso2}})"
    matTooltipPosition="above" 
    [routerLink]="[roots.Root, roots.wad, roots.country]"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
    <img src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
</button>
-->
<div ngbDropdown class="dropdown ">
    <button class="btn btn-icon-only btn-text-primary" [matMenuTriggerFor]="adminMenuMain" >
      <i class="modus-icon material-icons text-primary">more_vert</i>
    </button>
    <mat-menu #adminMenuMain="matMenu">

        <button *ngIf="user" mat-menu-item 
            [routerLink]="[roots.Root, roots.company, roots.profile]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>account_circle</mat-icon> 
            <span>Profile</span>
        </button>
        <button *ngIf="company" mat-menu-item 
            [routerLink]="[roots.Root, roots.company, roots.profile]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon class="green">store_mall_directory</mat-icon> 
            <span>{{company.company_name}}</span>
        </button>
        
        <!--
        <button *ngIf="isAdmin" mat-menu-item 
            [routerLink]="[roots.Root, roots.admin, roots.usersList]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>contacts</mat-icon> 
            <span>Users</span>
        </button>
        
        <button mat-menu-item >
            <mat-icon>refresh</mat-icon> 
            <span>Refresh Project</span>
        </button>
        <div class="dropdown-divider"></div>
        <button *ngIf="region" mat-menu-item class="link" (click)="spmRegionOpen()">
            <mat-icon class="link">info</mat-icon> 
            <span>{{region.rName}}</span>
        </button>
        <button *ngIf="subregion" mat-menu-item class="link" (click)="spmSubegionOpen()">
            <mat-icon class="link">info</mat-icon> 
            <span>{{subregion.srName}}</span>
        </button>
        -->
    </mat-menu>
    
</div>