<div class="login-welcome-container">
    <div class="login-welcome-text">
        <span (click)="showMsg()">Supplier Exchange</span> (SX) is the business-to-business (B2B) 
        requisitioning, ordering and purchasing of goods and services over the internet. 
        Also known as Electronic procuremen or e-procurement.
    </div>
    <div class="login-welcome-text login-welcome-text-mdnone">
        <a href="http://www.ultimatewasher.com/articles/contractor-distributor-relationship.htm" target="_blank">
            <img class="img-left" style="width: 120px!important;" [src]="cdImgUrl" alt="SX"/>
        </a>
        This project focuses on facilitating the relationship between <span>Contractors</span> and <span>Distributors</span> 
        and help to establish  long-lasting, strong relationship between.<br>
    </div>
    <div class="flex-align-items w-full login-welcome-text m-t-0"> 
        <div class="col-6 p-0">
            <ul> <span>Distributor</span> 
                <li>Upload Distributor Items and Prices.</li>
                <li>Manage contractor relationsheeps</li>
                <li>Check RFQ</li>
            </ul>
        </div>
        <div class="col-6 p-0">
            <ul><span>Contractor</span> 
                <li>Create and mange BOM</li>
                <li>Request Distributor Relationship</li>
                <li>Create RFQ, Requisition and Purchase Order to selected distributor</li>
            </ul>
        </div>
    </div>
    <div class="login-welcome-text">
        <a href="https://en.wikipedia.org/wiki/Bill_of_materials" target="_blank">
            <img class="img-right" style="width: 120px!important;" [src]="bomImgUrl" alt="Flag of ICAO"/>
        </a>
        <span>Bill Of Materials</span><br/> 
        A bill of materials (BOM) is a centralized source of 
        information containing a list of items used to manufacture a product and 
        the instructions on how to do so.  BOM is often tied to a production order whose issuance may generate 
        reservations for components in the bill of materials that are in stock and requisitions for components 
        that are not in stock.
    </div>
    <div class="login-welcome-text">
        <a href="https://en.wikipedia.org/wiki/Request_for_quotation" target="_blank">
            <img class="img-left" style="width: 120px!important;" [src]="rfqImgUrl" alt="Flag of ICAO"/>
        </a>
        <span>Request For Quotation</span><br/> 
        A request for quotation is a business process in which a company or public entity requests a 
        quote from a supplier for the purchase of specific products or services. RfQ generally means 
        the same thing as Call for bids and Invitation for bid (IFB).
    </div>
    <div class="login-welcome-text">
        The project is not funded, and is constructed on the basis of voluntary labor 
        starting from Dec 22, 2020.
    </div>
    <div class="login-welcome-text">
        
        Although still in the mode of development,
        <span>the project is accessible to users</span>.
    </div>
</div>