<div class="modus-content-columns">
    <div class="modus-content" >
       <div class="col-12 flex-align-items">

            <div class="card product-details-image-card">
                <div class="flex-end">
                    <sx-button-flat 
                        class="nav-action-button" 
                        color="light" 
                        icon="edit" (click)="editUser()">EDIT
                    </sx-button-flat>
                </div>
                <div class="flex-center mt-0 mb-3">
                    <div class="product-details-image-container">
                        <img *ngIf="cardImage;else noImageAvailable" [src]="cardImage" [ngClass]="productImageClass" (load)="onImageLoad()" >
                        <ng-template #noImageAvailable >
                            <img [src]="imageNotAvailable" [ngClass]="productImageClass" (load)="onImageLoad()" >
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="card product-details-container w-100">
                <div class="card-body" >
                        
                        <div *ngIf="company.company_name"  class="subtitle">{{company.company_name | uppercase }}</div>
                        <hr>
                        <div *ngIf="company" class="key-value-container product-details-ie-blocks">
                            <sx-key-value-block *ngIf="company.company_id" size="small"
                                key="ID"
                                [value]="company.company_id"
                                infoMessage="Unique identifier of the company in SX">
                            </sx-key-value-block>
                            <sx-key-value-block *ngIf="company.company_name" size="large"
                                key="Name" 
                                [value]="company.company_name"
                                infoMessage="">
                            </sx-key-value-block>
                            <sx-key-value-block *ngIf="company.branch_code" size="large"
                                key="Branch" 
                                [value]="company.branch_code"
                                infoMessage="">
                            </sx-key-value-block>
                            <sx-key-value-block *ngIf="company.company_type_id" size="small"
                                key="Type"
                                value="{{company.company_type_id | companytype}}"
                                infoMessage="">
                            </sx-key-value-block>
                           
                           
                            <sx-key-value-block *ngIf="company.parent_company_id" size="small"
                                key="Parent Company ID"
                                [value]="company.parent_company_id"
                                infoMessage="">
                            </sx-key-value-block>
                            
                        </div>
                        
                       
                    
                </div>
            </div>
       </div>
   
    </div><!-- modus-content -->
</div> <!-- modus-content-columns end -->
 <!--
        <div class="d-block w-100" style="height: 300px;">
            
            <ams-chart-line 
                [environment]="env"
                [chartData]="chartDataUsers"
                title="Profit last 7 days"
                [chartLabels]="chartLabelsUsers"
                (chartClick)="onChartClick($event)">
            </ams-chart-line>
        </div>
    -->