<div class="panel-body" style="flex-grow: 1">
    <!-- Static Container -->
    <div class="static-container">
      <div class="d-flex flrx-align-items flex-space-between w-100">

        <div class="flex-align-items flex-start">

          <button  class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Go to BOM list"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.bom, roots.list]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          
          <!--
          <ams-img-link *ngIf="state && state.wikiUrl" 
              type="wiki" [url]="state.wikiUrl" class="ml-2">
          </ams-img-link>
          <ams-img-link *ngIf="state && state.iso" 
              type="oa" [state_iso]="state.iso" class="ml-2">
          </ams-img-link>
         -->
        </div>
        
        <div class="flex-align-items flex-end">
         
          <div class="" ngbDropdown  *ngIf="bom">
            <sx-format-control 
                class="link size-18"
                label="" color="light"
                [matMenuTriggerFor]="bomMenu"
                icon="calendar_view_day">
            </sx-format-control>
            <mat-menu #bomMenu="matMenu">
                <button mat-menu-item class="link blue" (click)="ediBom(bom)">
                    <mat-icon class="link blue">edit</mat-icon> 
                    <span>Edit BOM</span>
                </button>

              <div class="dropdown-divider"></div>
              <button mat-menu-item (click)="spmBomOpen()">
                  <mat-icon class="link blue">info</mat-icon> 
                  <span>{{bom.bomName}}</span>
              </button>
              
              

              <div class="dropdown-divider"></div>
              <button mat-menu-item (click)="fileUpload()">
                <mat-icon class="link blue">file_upload</mat-icon> 
                <span>Import Items</span>
              </button>
              
            </mat-menu>
            
        </div>
          <sx-button-round 
              message="Show BOM Details" tooltipPlacement="bottom"
               color="light"
              (click)="spmBomOpen()" 
              icon="info"> 
          </sx-button-round>
        </div>
        
      </div>

    </div>

    <!-- Scroll Container -->
    <div class="scroll-container p-2">
       <!--
      <ams-card-airport-info [airport]="airport" class="card"></ams-card-airport-info>
     -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{bom.bomName}}
            <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" 
            style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
          </h5>
          
          <div class="side-panel-sec-rows">
              <sx-side-panel-row-value *ngIf="bom.description" [value]="bom.description" [vtype]="vtypes.HTML"></sx-side-panel-row-value>
          </div>
          
          <div class="side-panel-sec-rows">
            <div class="sp-row">
              <div class="sp-value">Created on {{bom.adate | date:'MMM d, y'}} from {{bom.userName}}.</div>
            </div>
            
          </div>
          
        </div>
      </div>
      
    </div>
  </div>