<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title">Project 
            <span *ngIf="project" class="card-subtitle-1">№ {{project.project_id}}</span>
            <span *ngIf="!project" >Create</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">
            
            <input type="hidden"  formControlName="company_id" [value]="company_id">

            <div class="col-12 flex-align-items w-100 p-0">
    
                <div class="col-6 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput  placeholder="Project Name"  formControlName="project_name" required >
                        <mat-icon matSuffix class="text-grey-500">admin_panel_settings</mat-icon>
                        <mat-error *ngIf="project_name.invalid">{{fError('project_name')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pr-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Status</mat-label>
                        <mat-select name="pstatus_id" formControlName="pstatus_id">
                          <mat-option *ngFor="let status of statusOpt" [value]="status.id">
                            {{status.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-3 pr-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Account ID</mat-label>
                        <input matInput  placeholder="S2-34"  formControlName="project_account_id" >
                        <mat-icon matSuffix class="text-grey-500">account_balance_wallet</mat-icon>
                        <mat-hint>Account or Job ID associated width this project</mat-hint>
                        <mat-error *ngIf="project_account_id.invalid">{{fError('project_account_id')}}</mat-error>
                    </mat-form-field>
                </div>
                
                
            </div>
            <h5 class="mb-0 pt-2">CONTACTS</h5>
            <div class="col-12 flex-align-items w-100 p-0">
                 <!-- Manager -->
               <div class="col-6 p-0" >
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <input matInput placeholder="Manager"
                            aria-label="Manager"
                            [matAutocomplete]="managerAuto"
                            [formControl]="manager_id">
                        <mat-icon matSuffix  class="text-grey-500">contacts</mat-icon>    
                        <mat-autocomplete #managerAuto="matAutocomplete" 
                            [displayWith]="displayUser" 
                            (optionSelected)="managerValueChange($event)">
                        <mat-option *ngFor="let option of managerOpt | async"  [value]="option">
                            <div class="flex flex-align-items">
                                <mat-icon class="text-grey-500 m-r-4">contacts</mat-icon>
                                <div class="m-r-4">{{option.user_name}}</div>
                                <div class="text-blue-400">{{option.e_mail}}</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!-- Estimator -->
                <div class="col-6 pr-0" >
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <input matInput placeholder="Estimator"
                            aria-label="Estimator"
                            [matAutocomplete]="estimatorAuto"
                            [formControl]="estimator_id">
                        <mat-icon matSuffix  class="text-grey-500">how_to_reg</mat-icon>      
                        <mat-autocomplete #estimatorAuto="matAutocomplete" 
                            [displayWith]="displayUser" 
                            (optionSelected)="estimatorValueChange($event)">
                        <mat-option *ngFor="let option of estimatorOpt | async"  [value]="option">
                            <div class="flex flex-align-items">
                                <mat-icon class="text-grey-500 m-r-4">how_to_reg</mat-icon>
                                <div class="m-r-4">{{option.user_name}}</div>
                                <div class="text-blue-400">{{option.e_mail}}</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
    
            </div>

            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-9 p-0" >
                    <!--
                    <mat-form-field appearance="standard">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate formControlName="start_date" placeholder="Start date">
                          <input matEndDate formControlName="end_date" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      
                        <mat-error *ngIf="start_date.invalid">Invalid start date</mat-error>
                        <mat-error *ngIf="end_date.invalid">Invalid end date</mat-error>
                      </mat-form-field>
                      -->
                </div>
    
            </div>
    
           
    
            <div class="col-12 flex-align-items w-100 p-0">
                <!--
                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field floatLabel="always" appearance="standard">
                        <mat-label>Logo URL</mat-label>
                        <input matInput  placeholder="https://your-company.com/images/logo.png"  formControlName="logo_url" >
                        <mat-error *ngIf="logo_url.invalid">{{fError('logo_url')}}</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                    <mat-form-field floatLabel="always" appearance="standard">
                        <mat-label>Website Url</mat-label>
                        <input matInput  placeholder="https://your-company.com"  formControlName="web_url" >
                        <mat-error *ngIf="branch_code.invalid">{{fError('web_url')}}</mat-error>
                    </mat-form-field>
                </div>
                -->
            </div>
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-12 p-0" >
                    <mat-form-field floatLabel="always" appearance="fill" class="w-100">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes" type="text"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
