  <div class="modal-content">
    
    <div mat-dialog-title class="modal-header">
      <span mat-dialog-close class="close" (click)="cansel()">×</span>
      <div class="modal-title">AMS User Registration</div>
    </div>
    
    <mat-dialog-content class="modal-body">

        <form class="d-flex flex-column" [formGroup]="formGrp">

          <div matFormField class="form-group">
            <label for="ctr_email1">Email</label>
            <div class="input-with-icon-left">
              <input matInput  value="" type="email" formControlName="ctr_email"
                class="form-control" [ngClass]="{'is-valid' : ctr_email.invalid === false , 'is-invalid':ctr_email.invalid === true}"
                placeholder="your@email.address">
              <div class="input-icon">
                <i class="modus-icon material-icons">alternate_email</i>
              </div>
              <div class="invalid-feedback" *ngIf="ctr_email.invalid">
                {{errorEMail}}
              </div>
            </div>
          </div>
          <div matFormField class="form-group">
            <label for="ctr_email1">Password</label>
            <div class="input-with-icon-left">
              <input matInput class="form-control"  value="" type="password" formControlName="ctr_password"
                class="form-control" [ngClass]="{'is-valid' : ctr_password.invalid === false , 'is-invalid':ctr_password.invalid === true}"
                placeholder="Password">
              <div class="input-icon">
                <i class="modus-icon material-icons">security</i>
              </div>
              <div class="invalid-feedback" *ngIf="ctr_password.invalid">
                {{errorPassword}}
              </div>
            </div>
          </div>
          <!--
          <mat-form-field appearance="standard">
            <mat-label>E-Mail</mat-label>
            <input matInput   placeholder="E-Mail"  value="" type="email" formControlName="ctr_email1" >
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="ctr_email.invalid">{{errorEMail}}</mat-error>
          </mat-form-field>
        
          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" formControlName="ctr_password">
            <mat-icon matSuffix>security</mat-icon>
            <mat-error *ngIf="ctr_password.invalid">{{errorPassword}}</mat-error>
          </mat-form-field>
          -->
        </form>
      
        
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
      <div class="flex-align-items flex-space-between w-100">
          <div class="flex-start">
              <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
              <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                  class="dialog-spinner" color="primary"  mode="indeterminate">
              </mat-progress-spinner>
          </div>
          <div class="flex-end mr-2">
              <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
              <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                      class="f-w-300"
                      [disabled]="formGrp.invalid" (click)="onSubmit()">
                  SUBMIT
              </button>
          </div>
      </div>
    </mat-dialog-actions>
 <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <!--
    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
      <div class="ml-2 flex-start">
        <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <mat-error *ngIf="errorMessage" class="ml-2 flex-start">  {{errorMessage}} </mat-error>
      </div>
        
        
     
       < mat-progress-spinner *ngIf="hasSpinner" diameter="24"
          class="dialog-spinner" color="primary"  mode="indeterminate">
      </mat-progress-spinner>
      <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
        Close
      </button>
      <button type="button" class="btn btn-primary">
        Save changes
      </button>
      <button class="btn btn-sm btn-icon-only btn-primary">
        <i class="modus-icon material-icons">settings</i>
      </button>
      --
      <button   *ngIf="!hasSpinner" mat-fab color="primary" aria-label="Login"
        class="btn btn-icon-only btn-primary mr-3"
        [disabled]="formGrp.invalid" (click)="onLoginClick()">
        <i class="modus-icon material-icons">account_circle</i>
      </button>
    </mat-dialog-actions>
  -->
  </div>