@font-face {
    font-family: 'cessna2018';
    src: url('./fonts/cessna2018.eot?upksy6');
    src: url('./fonts/cessna2018.eot?upksy6#iefix') format('embedded-opentype'), url('./fonts/cessna2018.ttf?upksy6') format('truetype'), url('/fonts/cessna2018.woff?upksy6') format('woff'), url('/fonts/cessna2018.svg?upksy6#cessna2018') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .cessna2018-piston-nav:before {
    content: "\e905";
  }
  .cessna2018 {
    font-family: 'cessna2018' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.666em;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }