//
// Matero Variables
//
// Layout
$gutter: 16px !default;
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
// Sidenav
$sidenav-width: 240px !default;
$sidenav-collapsed-width: 50px !default;
$sidenav-width-mobile: 280px !default;

// Toolbar
$toolbar-height-desktop: 64px !default;
$toolbar-height-mobile: 56px !default;

// Topmenu
$topmenu-sticky-position-desktop: $toolbar-height-desktop;
$topmenu-sticky-position-mobile: $toolbar-height-mobile;

// Typography
$font-size-base: 14px !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

$font-size-h1: 40px !default;
$font-size-h2: 32px !default;
$font-size-h3: 28px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 16px !default;
$f-8px: 0.500em;
$f-10px: 0.625em;
$f-12px: 0.7500em;	
$f-13px: 0.8125em;	
$f-14px: 0.8750em;	
$f-15px: 0.9375em;	
$f-16px: 1.0000em;	
$f-17px: 1.0625em;	
$f-18px: 1.1250em;	
$f-19px: 1.1875em;	
$f-20px: 1.2500em;	
$f-21px: 1.3125em;	
$f-22px: 1.3750em;	
$f-23px: 1.4375em;	
$f-24px: 1.5000em;	
$f-28px: 1.75em;

//
// Breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$breakpoints: (
  xsmall: 0,
  small: 600px,
  medium: 960px,
  large: 1280px,
  xlarge: 1920px
) !default;

//
// Scrollbar
//
$scrollbar-selectors: 'body', '.mat-sidenav-content';
$font:#666;
$font-dark:darken( $font, 15% );
$font-light: lighten( $font, 10% );
$transparent: rgba(0,0,0,0.3);
//////////
// BLUE //
//////////
$blue-main: #3f51b5; // #3f51b5 = rgb(63, 81, 181) // -TS - #005F9E = rgba(0, 95, 158, 1)
$blue-dark: #354497; // #354497 = rgb(53, 68, 151) // -TS #00437B = rgb(0, 67, 123)
$menu-background: #003D5B;
$blue-black: darken( $blue-dark, 10% );
// light blue
$light-blue: #009AD9;
$light-blue-light: lighten($light-blue, 10%);


////////////
// YELLOW //
////////////
$yellow-main: #FFBE00; //rgba(255, 190, 0, 1)
$yellow-light: #FFD200;
$yellow-white: lighten($yellow-light , 10% );

////////////
// ORANGE //
////////////
$orange-main: #ff8b00; // rgba(255, 139, 0, 1)

/////////
// RED //
/////////
$red: #A51D25;
$red-light: lighten( $red, 10% );

//////////
// GRAY //
//////////
$gray: #EDEDEF;
$gray-light: #E2E2E7;
$gray-dark: #AEAEB6;
$scroll-gray: #f4f4f4;
$page-backdrop: #f2f2f2;

///////////
// GREEN //
///////////
$green-success: #94D891;
$green: darken($green-success,10%);

//////////
// PINK //
//////////
$pink: #F056B5;

////////////////
// BACKGROUND //
////////////////
$yellow-main-background: lighten($yellow-main, 30%);
$yellow-dark-background: lighten($yellow-light, 35%);
