<div class="text-center">
    <mat-icon *ngIf="value" class="link-green size-18" (click)="handleClick(false)">airplanemode_active</mat-icon>
    <mat-icon *ngIf="!value" class="link-red size-18" (click)="handleClick(true)">airplanemode_inactive</mat-icon>
</div>
