<div [@TogglePanelTrigger]="panelVar" class="modus-panel panel-md shadow-1">
    <!-- Panel Header -->
    <div class="panel-header">
        <!-- Panel Header L -->
        <div class="left-items ml-2">
            <!--
            <div class="custom-control custom-switch">
            <input type="checkbox" checked="" class="custom-control-input" id="exampleSwitch" name="exampleSwitch">
            <label class="custom-control-label" for="exampleSwitch"></label>
            </div>
            -->
        </div>
        <h5 class="pl-2 flex-align-items">
          {{fptitle}}
            <div *ngIf="subtitle" class="link " (click)="subtitleClickEv()"
                style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;">
                {{subtitle}}
            </div>
        </h5>
        <!-- Panel Header R -->
        <div class="right-items mr-2">
            <button class="btn btn-icon-only link" (click)="closePanelClick()">
                <!--
                <i class="modus-icons">one_way_left</i>
                -->
                <i class="material-icons modus-icons">west</i>
                
            </button>
        </div>
    </div>
    <!-- Panel Body -->
    <div class="panel-body" style="flex-grow: 1">
        <ng-content></ng-content>
    </div>
    <!-- Panel Footer -->
    <div class="panel-footer">Panel Footer</div>

</div>