<div class="modus-content-rows">
    <div class="modus-content-columns">
        <div class="modus-content">
            <!--
            <ams-admin-toolbar ptitle="AMS" psubtitle="ADMIN">
                <div class="flex-align-items">
                    <button class="btn btn-text-dark btn-md btn-icon-only mt-1" 
                    (click)="loadLoginsCount()" matTooltip="Refresh">
                    <i class="modus-icon material-icons">refresh</i>
                </button>
                </div>
            </ams-admin-toolbar>
            -->
            <div class="main-container-child-blue" >

                 <!-- -MINI CHARDS -->
                 <div class="flex-align-items flex-space-between row ml-4 mr-4 mt-4">

                    <div class="col-lg-3 col-sm-6 col-xs-12 mini-tile " >
                        <div class="box bg-trimble-blue-mid" [routerLink]="[roots.Root, roots.distributor, roots.items]">
                            <div class="clearfix">
                                <div class="chart-container">
                                
                                    <img *ngIf="!echartOpt" [src]="imgItems" alt="Items" />
                                    <div echarts [options]="echartOpt" [merge]="mergeOptItemsByDate" class="chart"></div>
                                </div>
                                
                                <div class="count" >
                                    <small>ITEMS</small>
                                    <h2>{{itemsCount | number:'1.0-0'}}</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-12 mini-tile">
                        <div class="box bgd-green">
                            <div class="clearfix">
                                <div class="chart-container">
                                
                                    <img [src]="imgItems" alt="Items" />
                                    <!--
                                        style="display: inline-block;width: 100px;vertical-align: top;"
                                    <canvas baseChart 
                                            [data]="state.pieChart.data"
                                            [labels]="state.pieChart.labels"
                                            [options]="state.pieChart.options"
                                            [colors]="state.pieChart.colors"
                                            [chartType]="'pie'"
                                            [legend]="false"
                                            style="display: block;height: 55px;width: 95px;"
                                        ></canvas>
                                    -->
                                </div>
                                
                                <div class="count" >
                                    <small>ITEMS</small>
                                    <h2>10 324</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-12 mini-tile">
                        <div class="box bg-yellow">
                            <div class="clearfix">
                                <div class="chart-container">
                                
                                    <img [src]="acTypeImg" alt="AC TYPE" />
                                    <!--
                                        style="display: inline-block;width: 100px;vertical-align: top;"
                                    <canvas baseChart 
                                            [data]="state.pieChart.data"
                                            [labels]="state.pieChart.labels"
                                            [options]="state.pieChart.options"
                                            [colors]="state.pieChart.colors"
                                            [chartType]="'pie'"
                                            [legend]="false"
                                            style="display: block;height: 55px;width: 95px;"
                                        ></canvas>
                                    -->
                                </div>
                                
                                <div class="count" >
                                    <small>ITEMS</small>
                                    <h2>10 324</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-xs-12 mini-tile">
                        <div class="box bg-trimble-blue-light ">
                            <div class="clearfix">
                                <div class="chart-container">
                                
                                    <img [src]="acTypeImg" alt="AC TYPE" />
                                    <!--
                                        style="display: inline-block;width: 100px;vertical-align: top;"
                                    <canvas baseChart 
                                            [data]="state.pieChart.data"
                                            [labels]="state.pieChart.labels"
                                            [options]="state.pieChart.options"
                                            [colors]="state.pieChart.colors"
                                            [chartType]="'pie'"
                                            [legend]="false"
                                            style="display: block;height: 55px;width: 95px;"
                                        ></canvas>
                                    -->
                                </div>
                                
                                <div class="count" >
                                    <small>ITEMS</small>
                                    <h2>10 324</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- d-flex flex-row highlighted  -->
                <div class="flex-align-items flex-space-between row ml-4 mr-4">
                    <!-- -Users -->
                    <div class="col-lg-4 col-md-6 col-sm-12 tile tile-library">
                        <mat-card (click)="gotoBomList()">
                        <mat-card-subtitle>MANAGE BOM's
                            <span *ngIf="itemsCount">({{itemsCount | number:'1.0-0'}})</span>
                        </mat-card-subtitle>
                        <mat-card-content class="overlay-blue">
                            <div *ngIf="chartDataUserList" class="ile-graphic">

                            </div>
                            <img *ngIf="!chartDataUserList" class="tile-graphic" src="{{tileImgUrl}}/tree-card-default.png"
                            alt="BOM">
                        </mat-card-content>
                        </mat-card>
                    </div>

                    <!-- -Users -->
                    <div class="col-lg-4 col-md-6 col-sm-12 tile tile-library">
                        <mat-card (click)="gotoBomList()">
                        <mat-card-subtitle>MANAGE BOM's
                            <span *ngIf="itemsCount">({{itemsCount | number:'1.0-0'}})</span>
                        </mat-card-subtitle>
                        <mat-card-content class="overlay-blue">
                            <div *ngIf="chartDataUserList" class="ile-graphic">

                            </div>
                            <img *ngIf="!chartDataUserList" class="tile-graphic" src="{{tileImgUrl}}/tree-card-default.png"
                            alt="BOM">
                        </mat-card-content>
                        </mat-card>
                    </div>
                    <!-- -Users -->
                    <div class="col-lg-4 col-md-6 col-xs-12 tile tile-mfr">
                        <mat-card (click)="gotoBomList()">
                        <mat-card-subtitle>MANUFACTURERS</mat-card-subtitle>
                        <mat-card-content class="overlay-green">
                            <div *ngIf="chartDataUserList" class="ile-graphic">

                            </div>
                            <img *ngIf="!chartDataUserList" class="tile-graphic" src="{{tileImgUrl}}/mfr-graphic-white.png"
                            alt="Company Management">
                        </mat-card-content>
                        </mat-card>
                    </div>

                </div>
               

                <!-- -CHART --
                <div class="d-block w-100" style="height: 250px;">
                    
                    <ams-chart-line 
                        [environment]="env"
                        [chartData]="chartDataUsers"
                        title="User autehtications last week"
                        [chartLabels]="chartLabelsUsers"
                        (chartClick)="onChartClick($event)">
                    </ams-chart-line>
                </div>
                -->
            </div><!-- login-page-container -->

        </div> <!-- modus-content -->
    </div> <!-- modus-content-columns -->
</div> <!-- modus-content-rows -->