<!-- Modus Header -->
<nav class="navbar navbar-expand-lg modus-header">
    <a data-modus-item="menu-btn" (click)="sidebarToggle.emit()">
        <i class="modus-icon material-icons btn-text-primary menu-btn">menu</i>
    </a>
    <a href="#" class="navbar-brand pt-3" matTooltip="User: {{userName}}">
        <img alt="Logo" [src]="logoImgUrl">
    </a>
    <div class="d-flex justify-content-between vw-100">.
        <div class="d-flex justify-content-end m-r-10">
            <!--
            <div *ngIf="curUser"  class="avatar" matTooltip="User: {{userName}}" matTooltipPosition="above">
                <img src="{{avatarUrl}}" alt="curUser.id">
            </div>
            -->
            <div class="d-flex justify-content-center m-r-10">
                <ng-content></ng-content>
            </div>
            <div *ngIf="user" class="chip chip-outline chip-input"
                (click)="gotoProfile()" matTooltip="User: {{userName}}">
                <div class="chip-thumbnail">
                  <img src="{{avatarUrl}}" alt="curUser.id">
                </div>
                <div class="chip-text">{{userName}}</div>
            </div>
            
            
            
            <button *ngIf="!user" class="btn btn-icon-only btn-text-primary m-l-5">
                <i class="modus-icon material-icons">user</i>
            </button>
            <button *ngIf="isAuthenticated" class="btn btn-icon-only ml-1 mr-1" 
                matTooltip="Logout"
                matTooltipPosition="above" 
                (click)="logout()" >
                <i class="modus-icon material-icons yellow">exit_to_app</i>
            </button>
           
        </div>
    </div>
</nav>
<!-- Modus Header End -->