<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Item  
            <span *ngIf="bomItem && bomItem.bomItemId" class="card-subtitle-1 ml-2" >№ {{bomItem.bomItemId}}</span>
            <span *ngIf="!bomItem || !bomItem.bomItemId" class="card-subtitle-1 ml-2" >Create</span>
            <div class="flex-align-items ml-4" *ngIf="bom">
                <!--
                <div class="image-24 ml-4 mr-2">
                    <img *ngIf="company.sxLogoUrl" src="{{company.sxLogoUrl}}" alt="{{company.company_id}}"/>
                </div>
                -->
               <div> BOM {{bom.bomName}}  № {{bom.bomId}}</div>
                
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-1 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Order</mat-label>
                        <input matInput  type="number"  placeholder="Item Order"  formControlName="sequenceNr" required >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="sequenceNr.invalid">{{fError('sequenceNr')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-2 pr-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Qauntity</mat-label>
                        <input matInput  type="number"  placeholder="Qauntity"  formControlName="qauntity" required >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="qauntity.invalid">{{fError('qauntity')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-2 pr-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>UOM</mat-label>
                        <input matInput  placeholder="Quantity Unit Of Measure"  formControlName="quantityUom" required>
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="quantityUom.invalid">{{fError('quantityUom')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1 p-0"></div>
                <div class="col-6 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput  placeholder="Item Name"  formControlName="itemName" >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="itemName.invalid">{{fError('itemName')}}</mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-3 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>UPC</mat-label>
                        <input matInput  placeholder="UPC"  formControlName="upc" >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="upc.invalid">{{fError('upc')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1 p-0"></div>
                <div class="col-3 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>EAN</mat-label>
                        <input matInput  placeholder="EAN"  formControlName="ean" >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="ean.invalid">{{fError('ean')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1 p-0"></div>
                <div class="col-4 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>GTIN</mat-label>
                        <input matInput  placeholder="GTIN"  formControlName="gtin" >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="gtin.invalid">{{fError('gtin')}}</mat-error>
                    </mat-form-field>
                </div>
                
            </div>

            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-5 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Manufacturer</mat-label>
                        <input matInput  placeholder="Manufacturer Name"  formControlName="mfrName" >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="mfrName.invalid">{{fError('mfrName')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1 p-0"></div>
                <div class="col-6 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Catalog Code</mat-label>
                        <input matInput  placeholder="Manufacturer Catalog Code"  formControlName="mfrCatalogCode" >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="mfrCatalogCode.invalid">{{fError('mfrCatalogCode')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-8 p-0">
                    <mat-form-field floatLabel="always" appearance="fill" class="w-100">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes" type="text"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-1 p-0"></div>
                <div class="col-3 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Distributor Code</mat-label>
                        <input matInput  placeholder="Distributor Code"  formControlName="distributorCode" >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="distributorCode.invalid">{{fError('distributorCode')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>

    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
