<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Bill Of Materials 
            <span *ngIf="bom && bom.bomId" class="card-subtitle-1 ml-2" >№ {{bom.bomId}}</span>
            <span *ngIf="!bom || !bom.bomId" class="card-subtitle-1 ml-2" >Create</span>
            <div class="flex-align-items" *ngIf="company">
                <div class="image-24 ml-4 mr-2">
                    <img *ngIf="company.sxLogoUrl" src="{{company.sxLogoUrl}}" alt="{{company.company_id}}"/>
                </div>
               <div>{{company.company_name}} {{company.branch_code}}</div>
                
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <div class="col-12 flex-align-items w-100 p-0">

                
                <div class="col-12 p-0">
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput  placeholder="Country Name"  formControlName="bomName" required >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="bomName.invalid">{{fError('bomName')}}</mat-error>
                    </mat-form-field>
                </div>
                
                
            </div>
            <h5 class="mb-0 pt-2 flex-align-items">
               Creator: <span *ngIf="bom.userName">{{bom.userName}}</span> <span *ngIf="!bom.userName">{{bom.userEmail}}</span>
            </h5>
            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-12 p-0">
                    <mat-form-field floatLabel="always" appearance="fill" class="w-100">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" type="text"></textarea>
                    </mat-form-field>
                </div>

            </div>

    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
