    <mat-tab-group  mat-stretch-tabs #branchTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">dashboard</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Dashboard
            </ng-template>
            <div class="mb-0">
                <button mat-raised-button (click)="panelInOpen()">Toggle drawer</button>
            </div>
           
        </mat-tab>

        <!-- -TAB 1 City --> 
        <mat-tab label="Bom Items">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">table_chart</mat-icon>
                Items
            </ng-template>
            <sx-bom-items-home-tab-grid tabindex="1"></sx-bom-items-home-tab-grid>
            <!--
            <ams-wad-airport-home-tab-runway tabindex="1"></ams-wad-airport-home-tab-runway>
            -->
        </mat-tab>
       
                
    </mat-tab-group>
    
