<div *ngIf="!pipe" class="icon-value" 
    matTooltip="{{label}}: {{value}}" 
    matTooltipPosition="above">
    <i class="material-icons" >{{icon}}</i>
    {{value}}
</div>
<div *ngIf="pipe === 'utc'" class="icon-value"  
    matTooltip="{{label}}: {{value | utc}}" 
    matTooltipPosition="above">
    <i class="material-icons">timer</i>
    {{value | utc}}
</div>
<div *ngIf="pipe === 'len'" class="icon-value" 
        matTooltip="{{label}}: {{value | len}}" 
        matTooltipPosition="above">
    <i class="material-icons" >{{icon}}</i>
    {{value | len}}
</div>
<div *ngIf="pipe === 'mtow'" class="icon-value" 
        matTooltip="{{label}}: {{value | mtow}}" 
        matTooltipPosition="above">
    <i class="material-icons" >{{icon}}</i>
    {{value | mtow}}
</div>
<div *ngIf="pipe === 'latlon'" class="icon-value" 
    matTooltip="{{label}}: {{value | latlon}}" 
    matTooltipPosition="above">
    <i class="material-icons" >{{icon}}</i>
    {{value | latlon}}
</div>
<div *ngIf="pipe === 'icao'" class="icon-value"
        matTooltip="{{label}}: {{value}}" 
        matTooltipPosition="above" >
    <img src="{{icaoUrl}}" alt="ICAO" />
    {{value}}
</div>
<div *ngIf="pipe === 'iata'" class="icon-value" 
    matTooltip="{{label}}: {{value}}" 
    matTooltipPosition="above" >
    <img src="{{iataUrl}}" alt="IATA"/>
    {{value}}
</div>
<div *ngIf="pipe === 'image'" class="icon-value"
        matTooltip="{{label}}: {{value}}" 
        matTooltipPosition="above" >
    <img src="{{icon}}" alt="{{value}}" />
    {{value}}
</div>