<!-- Modus Header -->
<ts-sx-navbar (sidebarToggle)="sidebarToggle()">
    <sx-distributor-menu-main class="flex-align-items"></sx-distributor-menu-main>
</ts-sx-navbar>

<!-- Modus Body Wrapper -->
<div class="modus-body" [ngClass]="sidebarClass">

    <!-- Modus Sidebar -->
    <nav class="modus-sidebar">
        <sx-sidebar-nav></sx-sidebar-nav>
    </nav>
    
    <!-- modus-content-rows -->
    
    <router-outlet></router-outlet>
    
    <!-- modus-content-rows end-->

</div><!--modus-body end-->