<!-- this needs to fade in -->
<div  [@showHideTriggerBlock]="expandPanelVar" 
    class="side-panel-modal-overlay" 
    (click)="handleClosePanelClick()" >
</div>
<!-- this needs to slide in -->
<div [@expandSidePanelTrigger]="expandPanelVar" class="side-panel-modal-container"> 
    <div class="side-panel-modal-body">
        <div class="clear-button-container" >
            <button mat-icon-button class="size-18 link" (click)="handleClosePanelClick()">
                <mat-icon class="size-18 link">clear</mat-icon>
                <!--&times;-->
            </button>
        </div>
        <ng-content></ng-content>
    </div> <!-- body -->
</div><!-- container -->