<div *ngIf="value" class="text-center">
    <mat-icon *ngIf="value" class="link-green m-t-8 m-r-4 f-s-16" (click)="handleClick(false)">done</mat-icon>
    <mat-icon *ngIf="!value" class=" m-t-8 m-r-4 f-s-16" (click)="handleClick(true)">clear</mat-icon>
</div>
