<div class="sxtable-container-full">
    <div class="sxtable-toolbar">
        
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white">
                <div class="flex-start flex-align-items">
                    <span>{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount<2" class="pl-1 f-w-300">Item</span>
                    <span *ngIf="dataCount>1" class="pl-1 f-w-300">Items</span>
                </div>
                <div class="flex-end m-r-8 f-s-14">
                    
                    <sx-button-round 
                        (click)="addBomItem()"
                        [disabled]="!canEdit"
                        message="Add new Item to BOM"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    
                    <mat-form-field class="f-w-300">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
        
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef width ="60px" class="t-c"></th>
                <td mat-cell *matCellDef="let row" class="t-c">
                    <div class="flex-align-items w-full">
                        <!--
                        <sx-button-round 
                            (click)="gotoBom(row)"
                            [disabled]="!canEdit"
                            position="left" 
                            icon="open_in_new"
                            message="View Bom"> 
                        </sx-button-round>
                        -->
                        <sx-button-round 
                            message="Show Item Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmBomItemOpen(row)" 
                            icon="info"> 
                        </sx-button-round>
                        <mat-icon class="link mt-1 size-20"  
                            (click)="ediBomItem(row)"
                            matTooltip="Edit Item">
                            edit
                        </mat-icon>
                        <mat-icon class="link mt-1 size-20 red"  
                            (click)="deleteBomItem(row)"
                            matTooltip="Delete Item">
                            delete
                        </mat-icon>
                        
                        
                    </div>
                
                </td>
            </ng-container>
            <!--
            <ng-container matColumnDef="image" sticky>
                <th mat-header-cell *matHeaderCellDef width ="60px" class="text-center"></th>
                <td mat-cell *matCellDef="let mac" class="text-center">
                    <div *ngIf="mac.imageUrl" class="icon-value mr-1" matTooltip="{{mac.model}}">
                        <img src="{{mac.imgTableUrl}}" alt="{{mac.model}}"/>
                    </div>
                </td>
            </ng-container>
        -->
            <ng-container matColumnDef="citemId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">№</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.citemId}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="sequenceNr"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">Order</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.sequenceNr}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="qauntity" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 pl-2">Qauntity / UOM</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 pl-2">
                    <div class="flex-align-items">
                        <div>{{row.qauntity | number:'1.0-0'}}</div>
                        <div class="ml-2">{{row.quantityUom}}</div>
                    </div>
                </td>
            </ng-container>
            <!--
            <ng-container matColumnDef="acTypeId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px" class="pl-2">Type</th>
                <td mat-cell *matCellDef="let row" class="pl-2">
                    <div class="w-full text-left">
                        {{row.acTypeId | actype}}
                    </div>
                    
                </td>
            </ng-container>
        -->
            <ng-container matColumnDef="upc" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 pl-2">UPC</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2">
                    <div class="flex-align-items">
                        <div>{{row.upc}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="gtin" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 pl-2">GTIN</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2">
                    <div class="flex-align-items">
                        <div>{{row.gtin}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="ean" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 pl-2">EAN</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2">
                    <div class="flex-align-items">
                        <div>{{row.ean}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="mfrName">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200 pl-2">Manufacturer</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2">
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.mfrName}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="mfrCatalogCode">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 pl-2">Catalog Code</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2">
                    <div class="flex-align-items image-16" >
                        <div class="mr-2">{{row.mfrCatalogCode}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="itemName">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 pl-2">Product</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2">
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.itemName}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="distributorCode">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 pl-2">Distributor Code</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 pl-2">
                    <div class="flex-align-items image-16" >
                        <div class="mr-2">{{row.distributorCode}}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="adate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Created On</th>
                <td mat-cell *matCellDef="let row">{{row.adate | date:'MMM d, y'}}</td>
            </ng-container>
            <ng-container matColumnDef="itemsCount" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px" class="pl-2 text-right">Items</th>
                <td mat-cell *matCellDef="let row" class="pl-2 text-right">
                    <div class="flex-align-items w-100">
                        <div class="w-100 pr-4">{{row.itemsCount | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Updated On</th>
                <td mat-cell *matCellDef="let row">{{row.udate | date:'MMM d, y'}}</td>
            </ng-container>
           
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        showFirstLastButtons>
    </mat-paginator>
</div>