<!-- Modus Header -->
<ts-sx-navbar (sidebarToggle)="sidebarToggle()">
    <!--
    <sx-company-menu-main class="flex-align-items"></sx-company-menu-main>
    -->
</ts-sx-navbar>

<!-- Modus Body Wrapper -->
<div class="modus-body" [ngClass]="sidebarClass">

    <!-- Modus Sidebar -->
    <nav class="modus-sidebar">
        <sx-sidebar-nav></sx-sidebar-nav>
    </nav>
    
    <!-- modus-content-rows -->
    <div class="modus-content-rows">
        <router-outlet></router-outlet>
    </div>
    
    <!--
    
        <div class="modus-content-columns">
             <!-- Modus Content --
             <div class="modus-content sx-tabs">
                <ams-admin-toolbar></ams-admin-toolbar>
                <router-outlet></router-outlet>
            </div>
        </div>--><!-- odus-content-columns end-->
   

</div><!--modus-body end-->