<div class="modus-content-rows">
    <div class="modus-content-columns">
        <div class="modus-content sx-tabs">
            <!--
            <ams-admin-toolbar ptitle="AMS" psubtitle="ADMIN">
                <div class="flex-align-items">
                    <button class="btn btn-text-dark btn-md btn-icon-only mt-1" 
                    (click)="loadLoginsCount()" matTooltip="Refresh">
                    <i class="modus-icon material-icons">refresh</i>
                </button>
                </div>
            </ams-admin-toolbar>
            -->
            <div class="main-container-child-blue mb-3" >
                
                <div class="d-block w-100" style="height: 250px;">
                    
                    <ams-chart-line 
                        [environment]="env"
                        [chartData]="chartDataUsers"
                        title="User autehtications last week"
                        [chartLabels]="chartLabelsUsers"
                        (chartClick)="onChartClick($event)">
                    </ams-chart-line>
                </div>
                <!-- d-flex flex-row highlighted  -->
                <div class="flex-align-items flex-space-between row ml-4 mr-4">
                    <!-- -Users -->
                    <div class="col-lg-6 col-sm-12 tile tile-library">
                        <mat-card (click)="gotoBomList()">
                        <mat-card-subtitle>MANAGE BOM's
                            <span *ngIf="usersCount">({{usersCount | number:'1.0-0'}})</span>
                        </mat-card-subtitle>
                        <mat-card-content class="overlay-blue">
                            <div *ngIf="chartDataUserList" class="ile-graphic">

                            </div>
                            <img *ngIf="!chartDataUserList" class="tile-graphic" src="{{tileImgUrl}}/tree-card-default.png"
                            alt="BOM">
                        </mat-card-content>
                        </mat-card>
                    </div>

                    <!-- -Users -->
                    <div class="col-lg-6 col-xs-12 tile tile-mfr">
                        <mat-card (click)="gotoBomList()">
                        <mat-card-subtitle>MANUFACTURERS</mat-card-subtitle>
                        <mat-card-content class="overlay-green">
                            <div *ngIf="chartDataUserList" class="ile-graphic">

                            </div>
                            <img *ngIf="!chartDataUserList" class="tile-graphic" src="{{tileImgUrl}}/mfr-graphic-white.png"
                            alt="Company Management">
                        </mat-card-content>
                        </mat-card>
                    </div>

                </div>
                <!-- -MINI CHARDS -->
                <div class="flex-align-items flex-space-between row ml-4 mr-4 mt-2">

                    <div class="col-lg-3 col-sm-6 col-xs-12 mini-charts-item bg-trimble-blue-mid"  
                        matTooltip="Manage Aircraft Types" 
                        matTooltipPosition="above">
                        <div class="clearfix">
                            <div class="chart stats-bar">
                            
                                <img [src]="acTypeImg" alt="AC TYPE"
                                    style="display: inline-block;width: 68px;vertical-align: top;"/>
                                <!--
                                <canvas baseChart 
                                        [data]="state.pieChart.data"
                                        [labels]="state.pieChart.labels"
                                        [options]="state.pieChart.options"
                                        [colors]="state.pieChart.colors"
                                        [chartType]="'pie'"
                                        [legend]="false"
                                        style="display: block;height: 55px;width: 95px;"
                                    ></canvas>
                                -->
                            </div>
                            
                            <div class="count" >
                                <small>MANAGE</small>
                                <h2>Aircraft Types</h2>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div><!-- login-page-container -->

        </div> <!-- modus-content -->
    </div> <!-- modus-content-columns -->
</div> <!-- modus-content-rows -->