<div *ngIf="value" >
    <div class="key-value-block"
         [ngClass]="{'key-value-block-large': size === 'large', 
                    'key-value-block-small': size === 'small',
                    'key-value-block-medium': size === 'medium' }">
        <div class="key-name flex">{{key}}
            <div *ngIf="infoMessage" class="key-name-icon-container">
                <sx-button-info 
                    class="absolute" 
                    message="{{infoMessage}}">
                </sx-button-info>
            </div>
        </div>
        <!-- if price  -->
        <div *ngIf="price; else notPrice">
            <div class="key-value ellipsis">{{value | tscurrency:priceId}}</div>
        </div>

        <!-- if not price  -->
        <ng-template #notPrice>
            <!-- if number  -->
            <div *ngIf="value">
                <div *ngIf="isNumber(value);else isStringValue">
                    <div *ngIf="value.length > valueCap;else noNumberToolTip" class="key-value" placement="top" matTooltip="{{value}}" triggers="mouseenter:mouseleave">{{value | truncate: valueCap}}</div>
                    <ng-template #noNumberToolTip>
                        <div class="key-value">{{value}}</div>
                    </ng-template>
                </div>
                <!-- if string -->
                <ng-template #isStringValue>
                    <div *ngIf="value.length > valueCap;else noStringToolTip" class="key-value flex" placement="top" matTooltip="{{value}}" triggers="mouseenter:mouseleave">{{value | titlecase | truncate: valueCap }}
                        <ng-content></ng-content>
                    </div>
                    <ng-template #noStringToolTip>
                        <div class="key-value flex">{{value}}
                            <ng-content></ng-content>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        
        </ng-template>
    </div>
</div>