
    <!-- modus-content -->
    <div class="modus-content-rows">
        <div class="modus-content-columns">
            <!-- Modus Panel -->
            <sx-filter-panel [panelVar]="panelInVar"  
                fptitle="Distributor"
                [subtitle]="company.company_name"
                (closePanel)="closePanelLeftClick()"
                (subtitleClick)="spmCompanyOpen(company)">
                
                
                <sx-distributor-citems-filter-panel-body (spmOpenClick)="spmCompanyOpen($event)"></sx-distributor-citems-filter-panel-body>
                
                
            </sx-filter-panel>
            
          <!-- Modus Content -->
          
            <div class="modus-content sx-tabs">
                <router-outlet></router-outlet>
            </div>
          
        </div>
        <div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btntop">
            <i class="material-icons modus-icons">east</i>
        </div>
    </div><!-- modus-content end-->
    <sx-side-panel-modal #spmCompany (closeSmpClick)="spmCompanyClose()">
        <!--
        <sx-spm-bom-info [company]="spmCompanyModel" ></sx-spm-bom-info>
        -->
    </sx-side-panel-modal> 

    
    
    
  
