
<div class="sp-row">

    <div *ngIf="label" class="sp-label" matTooltip="{{label}}">{{label}}</div>

    <div *ngIf="value" class="sp-value">

        <div *ngIf="isDateTime"  class="flex-align-items w-100">
            <div class="flex-align-items mr-3">
                <i class="material-icons size-18 mr-2">access_time</i>
                <span class=" size-14">{{value | date:'HH:mm'}}</span>
            </div>
            <div class="flex-align-items">
                <i class="material-icons  size-18 mr-2">event_note</i>
                <span class=" size-14">{{value | date:'MMM d, y'}}</span>
            </div>
        </div>

        <div *ngIf="isDate"  class="flex-align-items w-100">
            <div class="flex-align-items">
                <i class="material-icons  size-18 mr-2">event_note</i>
                <span class=" size-14">{{value | date:'MMM d, y'}}</span>
            </div>
        </div>
        <div *ngIf="isPrice"  class="flex-align-items w-100">
            <div class="flex-align-items">
                <i class="material-icons  size-18 mr-2">attach_money</i>
                <span class=" size-14"> {{valueD | sxcurrency:'USD':true:'1.2-5'}}</span>
            </div>
        </div>
        <div *ngIf="isPrice"  class="flex-align-items w-100">
            <div class="flex-align-items">
                <i class="material-icons  size-18 mr-2">attach_money</i>
                <span class=" size-14"> {{valueD | sxcurrency:'USD':true:'1.2-5'}}</span>
            </div>
        </div>
        <div *ngIf="isNumber"  class="flex-align-items w-100">
            <div class="flex-align-items">
                <span class=" size-14"> {{value | number:'1.0-0'}}</span>
            </div>
        </div>
        <div *ngIf="isBoolean"  class="flex-align-items w-100">
            <div class="flex-align-items">
                <span class=" size-14"> {{value}}</span>
            </div>
        </div>
        <div *ngIf="isString" matTooltip="{{value}}" class="flex-align-items w-100 ellipsis">{{value}}</div>
        <div *ngIf="isHtml" class="w-100 card-caption text-monospace" [innerHtml]="value"></div>
    </div>
    <!--
    <div *ngIf="value && !isPrice && !isDate && value" class="sp-value">
        {{value}}
    </div>
    -->
    <div *ngIf="infoMessage" class="key-value-line-info">
        <sx-button-info 
            class="absolute" 
            message="{{infoMessage}}">
        </sx-button-info>
    </div>
</div>
