<div class="login-container" >
    <div class="login-container-left">
        <img class="login-logo" [src]="sxLogo" alt="SX" style="height: 100px!important;">
        <div class="login-welcome-container">
            <div class="login-welcome">Welcome To <span class="regular">Supplier Exchange (SX)</span></div>
            <div class="login-welcome-sub mt-1">Log in to access your account or create one today</div>
            <div class="m-t-32">
                <button type="submit" class="btn-ts-two mt-2" (click)="registerDialogShow()">
                    CREATE ACCOUNT
                </button>
              <!--
                    <ts-button-primary
                        (click)="createAccountClick()"
                        color="yellow"
                        [buttonType]="'submit'">
                        CREATE ACCOUNT
                    </ts-button-primary>
                    -->
                </div>
        </div>
    </div>
    <div class="login-container-right">

        <router-outlet></router-outlet>
    </div>
</div>
<!-- exapandTabClick loginDialogShow -->
<div [@expandTab]="expandTabVar"  (click)="loginDialogShow()" class="side-tab-yellow">
    <i class="material-icons">login</i>
    <div [@showHideTriggerFlex]="showTabContentsVar" 
        class="margin-left-10 side-tab-content width-100">
        <div class="key-value-block white col-6">
            <div class="key-name">Total</div>
            <div class="key-value ellipsis">{{total | currency:'USD':'symbol':'1.2-2'}}</div>
        </div>
        <div class="key-value-block white col-6">
            <div class="key-name">Aggressive Total</div>
            <div class="key-value ellipsis">{{aggressiveTotal | currency:'USD':'symbol':'1.2-2'}}</div>
        </div>
    </div>
</div>

