<div  class="simple-card {{border}} card card-hover" [ngClass]="{'flex-center' : !content }"  >
    
    <button *ngIf="close" type="button" class="btn-flat close" (click)="closeCard()" >&times;</button>
    <div class="flex-end">
        <div *ngIf="menuItems">
            <div ngbDropdown>
                <div ngbDropdownToggle class="icon-menu-dropdown">
                    <i class="material-icons">menu</i>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                    <button *ngFor="let menuItem of menuItems" (click)="menuClick(menuItem.value)" class="dropdown-item">
                        {{menuItem.value}}</button>
                </div>
            </div>
        </div>    
    </div>
    <div  [ngClass]="{'text-align-center' : !content }" class="simple-card-title" (click)="cardClick()">{{title}}</div>
    <div  *ngIf="content"  class="simple-card-content">{{content}}</div>
</div>

