<div class="d-block p-1 h-100 w-100" >
    <canvas baseChart
        [chartType]="'line'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [colors]="lineChartColors"
        [legend]="true"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>