<ul>

    <li *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="[roots.Root, roots.profile]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="left-nav-icon">
                <i class="material-icons">home</i>
            </span>
            Home
        </a>
    </li>
    <li *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="[roots.Root, roots.company]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <span class="left-nav-icon">
                <i class="material-icons">domain</i>
            </span>
            Company
        </a>
    </li>
    <li *ngIf="isAdmin">
        <a class="nav-link" [routerLink]="[roots.Root, roots.bom]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <span class="left-nav-icon green">
                <i class="material-icons">storage</i>
            </span>
            Bill Of Materials (BOM)
        </a>
    </li>
    <li *ngIf="isDistributor">
        <a class="nav-link" [routerLink]="[roots.Root, roots.distributor]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <span class="left-nav-icon">
                <i class="material-icons blue">store</i>
            </span>
            Distributor
        </a>
    </li>
    <!--
    <li *ngIf="isAuthenticated">
        <a class="nav-link" (click)="logout()" >
            <span class="left-nav-icon yellow">
                <i class="material-icons">exit_to_app</i>
            </span>
            Logout
        </a>
    </li>
    -->
    <li *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/public/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="left-nav-icon">
                <i class="material-icons">dashboard</i>
            </span>
            Dashboard
        </a>
    </li>
    <li *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/public/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="left-nav-icon green">
                <i class="material-icons">perm_identity</i>
            </span>
            Login
        </a>
    </li>
   
</ul>