 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">BOM DETAIL</div>
</div>
<hr>
<div *ngIf="!bom">No Data</div>

 <div class="m-t-0">

    <div class="side-panel-sec" *ngIf="bom">
        <div class="side-panel-sec-rows">
            <!--
            <div class="col-12 p-0 flex-align-items">
                <div class="col-3 p-0 flex-start">
                    <sx-side-panel-row-value label="ID" [value]="bom.bomId" [vtype]="vtypes.String"></sx-side-panel-row-value>
                </div>
                <div class="col-9 p-0 flex-end">
                    <sx-side-panel-row-value label="Name" [value]="bom.bomName" [vtype]="vtypes.String"></sx-side-panel-row-value>
                </div>
            </div>
            -->
            <sx-side-panel-row-value label="ID" [value]="bom.bomId" [vtype]="vtypes.String"></sx-side-panel-row-value>
            <sx-side-panel-row-value label="Name" [value]="bom.bomName" [vtype]="vtypes.String"></sx-side-panel-row-value>
            <sx-side-panel-row-value label="Created On" [value]="bom.adate" [vtype]="vtypes.Date" class="mt-3 d-block"></sx-side-panel-row-value>
            <sx-side-panel-row-value label="Created By" [value]="bom.userName" [vtype]="vtypes.String"></sx-side-panel-row-value>
            <sx-side-panel-row-value label="Email" [value]="bom.userEmail" [vtype]="vtypes.String"></sx-side-panel-row-value>
            <sx-side-panel-row-value label="Updated On" [value]="bom.udate" [vtype]="vtypes.Date" class="mt-3 d-block"></sx-side-panel-row-value>
            <sx-side-panel-row-value *ngIf="bom.itemsCount" label="Total Items" [value]="bom.itemsCount" [vtype]="vtypes.Number"></sx-side-panel-row-value>
            
        </div>
        
    </div><!-- sec end -->

    <div class="side-panel-sec" *ngIf="bom">
        <div class="side-panel-sec-title">Description</div>
        <div class="side-panel-sec-rows">
            <sx-side-panel-row-value *ngIf="bom.description" [value]="bom.description" [vtype]="vtypes.HTML"></sx-side-panel-row-value>
        </div>
        
    </div> <!-- sec end-->
 </div>
